doctype html
html(lang="en")
    
    - var diretorioAssets = "../assets"

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(content="width=device-width, initial-scale=1", name="viewport")

        meta(content="", name="author")

        // inicio css comum para todos
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/simple-line-icons/simple-line-icons.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/bootstrap/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/chosen/chosen.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/chosen/chosen.bootstrap.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/bootstrap-tour/css/bootstrap-tour.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/global/plugins/bootstrap-tour/css/bootstrap-tour-standalone.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/layouts/layout2/css/layout.min.css", rel="stylesheet", type="text/css")
        link(href= diretorioAssets + "/layouts/layout2/css/themes/default.min.css", rel="stylesheet", type="text/css", id="style_color")
        link(href= diretorioAssets + "/layouts/layout2/css/custom.min.css", rel="stylesheet", type="text/css")
        link(rel="shortcut icon", href="favicon.png")
        link(href= diretorioAssets + "/global/css/components.min.css" rel="stylesheet", id="style_components", type="text/css")
        link(href= diretorioAssets + "/global/css/plugins.min.css", rel="stylesheet", type="text/css")
        // Fim bloco css comum para todos

        block head

        

    body.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid.page-sidebar-closed
        
        div.page-header.navbar.navbar-fixed-top
            
            div.page-header-inner
                
                div.page-logo
                    a(href="index.html")
                        img.logo-default(src= diretorioAssets + "/layouts/layout2/img/logo-default.png", alt="logo")
                    
                    div.menu-toggler.sidebar-toggler
                        
                a.menu-toggler.responsive-toggler(href="javascript:;", data-toggle="collapse", data-target=".navbar-collapse")
                
                div.page-actions
                    div.btn-group
                        form.form.form-inline(action="index.html", method="GET")
                            span.logo-closed
                                a(href="index.html")
                                    img(src= diretorioAssets + "/layouts/layout2/img/logo-color.png")
                            
                            block embarcador-filial   
                            
                        
                div.page-top
                    div.top-menu
                        ul.nav.navbar-nav.pull-right
                            li.dropdown.dropdown-user
                                a.dropdown-toggle(href="javascript:;", data-toggle="dropdown", data-hover="dropdown", data-close-others="true")
                                        span.username
                                        i.icon-user &nbsp;
                                        | Américo Alves
                                        i.fa.fa-angle-down
                                
                                ul.dropdown-menu.dropdown-menu-default
                                    li
                                        a(href="cad-perfil-usuario-logado.html")
                                            i.icon-note
                                            | Meu cadastro
                                    
                                    li
                                        a(href="alterar-senha.html")
                                            i.icon-key 
                                            | Alterar Senha
                                    
                                    li.divider
                                    
                                    li
                                        a(href="login.html")
                                            i.icon-logout 
                                            | Sair

        div.clearfix
        
        div.page-container
            
            div.page-sidebar-wrapper

                div.page-sidebar.navbar-collapse.collapse
                    
                    include partial/sidebar.jade

            div.page-content-wrapper
                div.page-content

                    block content-of-page

                    include partial/footer.jade                    
        
        

        // Inicio script comum para todos
        script(src= diretorioAssets + "/global/plugins/respond.min.js")
        script(src= diretorioAssets + "/global/plugins/excanvas.min.js")
        script(src= diretorioAssets + "/global/plugins/ie8.fix.min.js")
        script(src= diretorioAssets + "/global/plugins/jquery.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/jquery-ui/jquery-ui.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/bootstrap/js/bootstrap.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/jquery-easing/jquery.easing.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/bootstrap-tour/js/bootstrap-tour.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/bootstrap-tour/js/bootstrap-tour-standalone.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/plugins/js.cookie.min.js", type="text/javascript")
        script(src= diretorioAssets + "/global/scripts/app.min.js", type="text/javascript")
        script(src= diretorioAssets + "/layouts/layout2/scripts/layout.min.js", type="text/javascript")
        // Final script comum para todos

        block script-footer

