extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page

    div.col-md-12
        h1.page-title
            | &nbsp; Seu perfil não possui permissão para ver a página solicitada!


    div.form-body
        div.col-md-12
            div.pull-right
                a.btn.green.uppercase(href="javascript:window.history.go(-1)", style="margin-right:10px;") Retornar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")   
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript") 
    script(src= diretorioAssets + "/pages/scripts/_cad-iss.min.js", type="text/javascript")