extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    div.form-group
        div.col-md-4
            h1.page-title
                i.fa.fa-angle-double-right 
                | &nbsp;Cadastro de Ocorrência

            div.page-bar
                ul.page-breadcrumb
                    li
                        i.icon-home
                        a(href="index.html") Início
                        i.fa.fa-angle-right
                    li
                        a(href="list-ocorrencia.html") Consulta
                        i.fa.fa-angle-right
                        
                    li
                        a(href="#") Ocorrência
        div.col-md-4
        div.col-md-4(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.green
                div.visual
                div.details(style="padding-left:40px;")
                    div.desc(style="text-align:left;padding-top:10px;")<b>Atenção!</b> Esse cadastro é global no Orbelog, não se restringe apenas ao embarcador selecionado no cabeçalho.

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações da Ocorreência
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório

                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!
                    
                    
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-situacaoOcorrencia.control-label.col-md-2 Situação de Operação:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-situacaoOcorrencia.chosen-select(name="situacaoOcorrencia", data-label="lb-situacaoOcorrencia",data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Montagem da Carga
                                        option(value="SAO") Em Captação
                                        option(value="SAO") Definir TAC
                                        option(value="SAO") Confirmar TAC
                                        option(value="SAO") Aguardando criação Viagem
                                        option(value="SAO") Aguardando Coleta
                                        option(value="SAO") TAC no Pátio
                                        option(value="SAO") Em carregamento
                                        option(value="SAO") Aguardando documentos fiscais
                                        option(value="SAO") Contrato Frete
                                        option(value="SAO") Em Viagem
                                        option(value="SAO") Aguardando confirmação de entrega
                                        option(value="SAO") Entrega confirmadas

                                label#lb-nome.control-label.col-md-2 Nome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome",maxlength="250") 

                            div.form-group
                                label#lb-codigo.control-label.col-md-2 Código:
                                    span.required *
                                
                                div.col-md-3
                                    input#codigo.form-control(type="text", data-label="lb-codigo", name="codigo", data-required="1")

                                label.control-label.col-md-2                             
                                div.col-md-3

                                    div.mt-checkbox-inline
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Ocorrência Finalizadora
                                            span

                            div.form-group
                                label#lb-obs.control-label.col-md-2 Observação:
                                    span.required 
                                
                                div.col-md-3
                                    textarea.form-control(name:'obs', rows:1, id:'observacao',maxlength="50")

                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *
                                    
                                div.col-md-3
                                    select#lb-status.form-control.chosen-select(name="status", data-label="lb-status", data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp; 
                                        option(value="SAO") Ativo
                                        option(value="SAO") Inativo

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-ocorrencia.min.js", type="text/javascript")