extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro Tipo de Serviço
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-tipo-servico.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Tipo de Serviço

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações do Tipo de Serviço
                        
                        div.portlet-note.pull-right * Preencha os campos obrigatórios
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group
                                label#lb-nome.control-label.col-md-2 Nome do Serviço:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome") 

                                label#lb-tiposervico.control-label.col-md-3 Classificação do Tipo Serviço:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-tiposervico.chosen-select(name="tiposervico",data-allow-clear="false",data-label="lb-tiposervico")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Seguro
                                        option(value="SAO") Análise de Risco
                                        option(value="SAO") Meio de Pagamento
                                        option(value="SAO") Captação

                            div.form-group
                                label#lb-obs.control-label.col-md-2 Observação:
                                    span.required 
                                
                                div.col-md-3
                                    textarea.form-control(name:'obs', rows:5, id:'observacao' )

                                label#lb-status.control-label.col-md-3 Status:
                                    span.required *
                                    
                                div.col-md-3
                                    select#lb-status.form-control.chosen-select(name="status", data-label="lb-status", data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp; 
                                        option(value="SAO") Ativo
                                        option(value="SAO") Inativo

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-tipo-servico.min.js", type="text/javascript")