extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head

block content-of-page

    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Criar Cargas
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Montagem de Cargas

    
    div.row
        div#form_wizard_1.portlet.light

            div.portlet-body.form
                form#submit_form.form-horizontal(action="#", method="POST", novalidate="novalidate")
                    div.form-wizard
                        div.form-body
                            ul.nav.nav-pills.nav-justified.steps
                                li.active
                                    a.step(href="#tab1", data-toggle="tab", aria-expanded="false")
                                        span.number 1
                                        span.desc
                                            i.fa.fa-check 
                                            | Selecionar Tipo de Veículo
                                    
                                li
                                    a.step(href="#tab2", data-toggle="tab", aria-expanded="false")
                                        span.number 2 
                                        span.desc
                                            i.fa.fa-check
                                            | Selecionar Pedidos
                                    
                                li
                                    a.step(href="#tab3", data-toggle="tab", aria-expanded="true")
                                        span.number 3 
                                        span.desc
                                            i.fa.fa-check
                                            | Vincular TAC
                                    
                                li
                                    a.step(href="#tab4", data-toggle="tab", aria-expanded="false")
                                        span.number 4 
                                        span.desc
                                            i.fa.fa-check 
                                            | Confirmação
                                    
                            div#bar.progress(role="progressbar", style="height:5px; margin-bottom:0")
                                div#progress-bar-wizard.progress-bar.progress-bar-success(style="width: 25%;")
                            
                            div.tab-content.col-md-12
                                div#tab1.tab-pane.active
                                    div.col-md-12
                                        h3.block Selecione o Tipo de Veículo desejado

                                        div.col-md-12
                                            div.form-group
                                                label.col-md-2.control-label Tipo de Veículo

                                                div.col-md-4
                                                    select#form_tipo_veiculo.form-control.chosen-select(data-allow-clear="false")
                                                        option(value="1") Veículo Urbano de Carga (VUC)
                                                        option(value="2") Caminhão Semi-Pesado (Toco)
                                                        option(value="3") Caminhão Pesado (Truck)

                                            div.form-group
                                                div.col-md-2.col-md-offset-2
                                                    img#imgTipoVeiculo.display-hide(src="teste.jpg")
                                        
                                    div.clearfix

                                div#tab2.tab-pane
                                    div.col-md-12
                                        h3.block Selecione os pedidos que irão compor a carga

                                        div.col-md-offset-7.col-md-5
                                            label Capacidade do veículo
                                                small (Carga máxima: 35T) 
                                            
                                            div.form-group
                                                div.progress.progress-striped.active(style="margin-bottom:10px; height:30px;")
                                                    div(style="position:absolute; right:15px; top:0px;")
                                                        span.badge.badge-success 100%
                                                        span.badge.badge-danger 110% 
                                                    
                                                    div#gaugePrincipal.progress-bar.progress-bar-success(style="width: 0%")
                                                    div#gaugeExcedido.progress-bar.progress-bar-danger(style="width: 0%")


                                        table#tblPedidos.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                                            thead
                                                tr
                                                    th
                                                    th Pedido 
                                                    th Origem
                                                    th Destino
                                                    th Peso
                                                
                                            tbody
                                                tr.odd.gradeX
                                                    td
                                                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                                            input.checkboxes(type="checkbox", value="1")
                                                            span
                                                        
                                                    td 201601010000132
                                                    td São Paulo/SP
                                                    td Rio de Janeiro/RJ
                                                    td.peso 5T
                                                
                                                tr.odd.gradeX
                                                    td
                                                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                                            input.checkboxes(type="checkbox", value="1")
                                                            span
                                                        
                                                    td 201601010000132
                                                    td São Paulo/SP
                                                    td Rio de Janeiro/RJ
                                                    td.peso 5T
                                                
                                                tr.odd.gradeX
                                                    td
                                                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                                            input.checkboxes(type="checkbox", value="1")
                                                            span
                                                        
                                                    td 201601010000132
                                                    td São Paulo/SP
                                                    td Rio de Janeiro/RJ
                                                    td.peso 5T
                                    
                                    div.clearfix

                                div#tab3.tab-pane
                                    div.col-md-12
                                        h3.block Vincular TACs para realização da viagem
                                        
                                        div.col-md-12
                                            div.form-group
                                                div.mt-radio-inline(style="margin-left:16px")
                                                    label#radioVincularTAC.mt-radio
                                                        input(name="optionsRadios", value="", type="radio", checked="") 
                                                        | Vincular TAC existente
                                                        span
                                                    
                                                    label#radioNaoVincularTAC.mt-radio
                                                        input(name="optionsRadios", value="", type="radio") 
                                                        | Não Vincular TAC
                                                        span
                                        
                                        div.col-md-12            
                                            div#gridTACs.form-group
                                                table#sample_tac.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                                                    thead
                                                        tr
                                                            th
                                                            th Nome 
                                                            th E-mail
                                                            th Tipo de Veículo
                                                            th CPF
                                                        
                                                    tbody
                                                        tr.odd.gradeX
                                                            td
                                                                label.mt-radio
                                                                    input.mt-radio(type="radio", name="1", value="1")
                                                                    span
                                                                
                                                            td Sérgio Oliveira Muniz
                                                            td sergio@hotmail.com
                                                            td VUC
                                                            td 332.909.332-12
                                                        
                                                        tr.odd.gradeX
                                                            td
                                                                label.mt-radio
                                                                    input.mt-radio(type="radio", name="1", value="1")
                                                                    span
                                                                
                                                            td Maria José Alcântara
                                                            td mariaalcantara@hotmail.com
                                                            td VUC
                                                            td 110.998.122-12
                                        
                                    div.clearfix
                                div#tab4.tab-pane
                                    div.col-md-12
                                        h3.block Confirme a montagem da carga
                                        h4.form-section Tipo de Veículo
                                        h4.form-section Pedidos incluídos na carga
                                        h4.form-section TACs vinculados para transporte
                                    div.clearfix

                            div.clearfix

                        div.form-actions
                            div.row
                                div.col-md-offset-3.col-md-9
                                    div.pull-right
                                        a.btn.default.button-previous(href="javascript:;", style="display: inline-block;")
                                            i.fa.fa-angle-left 
                                            | &nbsp;VOLTAR&nbsp;
                                        a.btn.green.button-next(href="javascript:;", style="display: inline-block;") AVANÇAR&nbsp;
                                            i.fa.fa-angle-right
                                        
                                        a.btn.green.button-submit(href="javascript:;", style="display: none;") &nbsp;GRAVAR MONTAGEM
                                            i.fa.fa-check
                                    
block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-carga-novo.min.js", type="text/javascript")                
            