extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU

block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")


block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right 
		| &nbsp;Cadastro de Perfil de Usuário
		
	div.page-bar
		ul.page-breadcrumb
			li
				i.icon-home
				a(href="index.html") Início
				i.fa.fa-angle-right

			li
				a(href="list-perfil-usuario.html") Consulta
				i.fa.fa-angle-right

			li
				a(href="javascript:;") Cadastro Perfil de Usuário

	form#form-cad-perfil.form-horizontal(action="#", novalidate="novalidate")  
		div.row
			div.col-md-12
				
				div.portlet.light.portlet-fit.portlet-form.portlet-shadow
					
					div.portlet-title
						div.caption
							i.icon-user.font-dark
							span.caption-subject.uppercase Informações do perfil
						
					
					div.portlet-body
						
					
						div.form-body
							div.alert.alert-danger.display-hide
								button.close(data-close="alert")
								| Preencha os campos obrigatórios.

							div.alert.alert-success.display-hide
								button.close(data-close="alert") 
								| Validação realizada com sucesso! 

							div.form-group
								label.control-label.col-md-2 Tipo de Acesso:
									span.required *
								
								div.col-md-3
									div.mt-radio-inline
										label#radioORBE.mt-radio(style="margin-bottom:0;")
											input(name="tipoAcesso", value="", type="radio", checked="") 
											| ORBE
											span
										
										label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
											input(name="tipoAcesso", value="", type="radio") 
											| Embarcador
											span
									
									
							div.form-group
								label.control-label.col-md-2 Nome:
									span.required *
							
								div.col-md-3
									input.form-control(type="text", name="nome", data-required="1")

								label.control-label.col-md-2 Status:
									span.required *
								
								div.col-md-3
									select.form-control.chosen-select(name="status", data-allow-clear="false")
										option(value="1", selected="selected") ATIVO
										option(value="2") INATIVO
								
			div.form-body
				div.col-md-12
					div.pull-right
						button.btn.green(type="submit") Salvar
						button#btn-cancelar.btn.default(type="button") Cancelar
								
block script-footer
	script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_cad-perfil-usuario.min.js", type="text/javascript")				