extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Fornecedor/Cliente
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-empresa.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Fornecedor/Cliente

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações do Fornecedor/Cliente
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório

                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!
                    
                    
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-nmfantasia.control-label.col-md-2 Nome Fantasia:
                                    span.required *
                                
                                div.col-md-3
                                    input#nmfantasia.form-control(type="text", name="nmfantasia", data-required="1", data-label="lb-nmfantasia",maxlength="250") 

                                label#lb-razaosocial.control-label.col-md-2 Razão Social:
                                    span.required *
                                
                                div.col-md-3
                                    input#razaosocial.form-control(type="text", name="razaosocial", data-required="1", data-label="lb-razaosocial",maxlength="250") 


                            div.form-group
                                label#lb-cnpj.control-label.col-md-2 CNPJ:
                                    span.required *
                                
                                div.col-md-3
                                    input#cnpj.form-control.mask-cnpj(type="text", name="cnpj", data-required="1", data-label="lb-cnpj",placeholder="__.___.___/____-__") 




                                label#lb-im.control-label.col-md-2 Inscrição Municipal:
                                    
                                
                                div.col-md-3
                                    input#im.form-control(type="text", name="im", data-required="1", data-label="lb-im",maxlength="20") 

                            div.form-group

                                   
                                label#lb-ie.control-label.col-md-2 Inscrição Estadual:
                                    span.required *
                                
                                div.col-md-3
                                    input#ie.form-control(type="text", name="ie", data-required="1", data-label="lb-ie",maxlength="20")                           


                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *

                                div.col-md-3
                                    div
                                        select#status.chosen-select(name="status", data-label="lb-status")
                                            option(value="1", selected="selected") Ativo
                                            option(value="2") Inativo
                            div.form-group

                                label#tipo.control-label.col-md-2 Tipo:
                                    span.required *
                                div.col-md-3

                                    div.mt-checkbox-inline
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Fornecedor
                                            span
                                        
                                        label#radioEMBARCADOR.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Cliente
                                            span

                                

                            fieldset
                                legend Endereço

                                div.form-group
                                    label#lb-cep.col-md-2.control-label CEP:
                                        span.required *

                                    div.col-md-2
                                        input#cep.form-control(type="text", name="cep", data-required="1", data-label="lb-cep") 

                                    button.btn.btn-default.btn-icon-only
                                        i.fa.fa-search

                                div.form-group
                                    label#lb-endereco.col-md-2.control-label Endereço:
                                        span.required *

                                    div.col-md-3
                                        input#endereco.form-control(type="text", name="endereco", data-required="1", data-label="lb-endereco",maxlength="250") 

                                    label#lb-numero.col-md-1.control-label N°:
                                        span.required *
                                    div.col-md-1
                                        input#numero.form-control(type="text", name="numero", data-required="1", data-label="lb-numero") 

                                    label#lb-complemento.col-md-2.control-label(style="width: 11%;") Complemento:
                                        

                                    div.col-md-2
                                        input#complemento.form-control(type="text", name="complemento", data-required="1", data-label="lb-complemento",maxlength="50")


                                div.form-group
                                    label#lb-cidade.col-md-2.control-label Estado / Cidade:
                                        span.required *

                                    div.col-md-1
                                        select#uf.chosen-select.form-control(name="uf", data-required="1", data-label="lb-uf")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") SP
                                            option(value="2") RJ
                                            option(value="3") ES

                                    div.col-md-2
                                        select#cidade.chosen-select.form-control(name="cidade", data-required="1", data-label="lb-cidade")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória

                                    label#lb-bairro.col-md-1.control-label Bairro:
                                        span.required *

                                    div.col-md-4
                                        input#bairro.form-control(type="text", name="bairro", data-required="1", data-label="lb-bairro",maxlength="50")



                            fieldset
                                legend Informaçãoes do Contato

                            div.form-group
                                label.control-label.col-md-2 Nome:
                                    
                                
                                div.col-md-3
                                    input.form-control(type="text", name="nome-contato", data-required="1", data-label="lb-nome-contato",maxlength="250")

                                label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                    
                                
                                div.col-md-3
                                    input#telFixo.form-control.mask-telefone(type="text", data-label="lb-telFixo", name="telFixo", data-required="1", placeholder="+55 (__) ____-____")



                            div.form-group
                                label#lb-email.control-label.col-md-2 E-mail:
                                    
                                
                                div.col-md-3
                                    input#email.form-control(type="text", data-label="lb-email", name="email", data-required="1",maxlength="50")

                                label#lb-telMovel.control-label.col-md-2 Telefone celular:

                                div.col-md-3
                                    input#telMovel.form-control.mask-telefone(type="text", data-label="lb-telMovel", name="telMovel", data-required="1", placeholder="+55 (__) ____-____")  



            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-empresa.min.js", type="text/javascript")