extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    div.form-group
        div.col-md-6
            h1.page-title
                i.fa.fa-angle-double-right 
                | &nbsp;Cadastro de Prestador de Serviço

            div.page-bar
                ul.page-breadcrumb
                    li
                        i.icon-home
                        a(href="index.html") Início
                        i.fa.fa-angle-right
                    li
                        a(href="list-prestador-servico.html") Consulta
                        i.fa.fa-angle-right
                        
                    li
                        a(href="#") Prestador de Serviço
        div.col-md-2
        div.col-md-4(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.green
                div.visual
                div.details(style="padding-left:40px;")
                    div.desc(style="text-align:left;padding-top:10px;")<b>Atenção!</b> Esse cadastro é global no Orbelog, não se restringe apenas ao embarcador selecionado no cabeçalho.

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações do Prestador de Serviço
                        
                        div.portlet-note.pull-right * Preencha os campos obrigatórios
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group
                                label#lb-razaosocial.control-label.col-md-2 Razão Social:
                                    span.required *
                                
                                div.col-md-3
                                    input#razaosocial.form-control(type="text", name="razaosocial", data-required="1", data-label="lb-razaosocial") 

                                label#lb-cnpj.control-label.col-md-2 CNPJ:
                                    span.required *
                                
                                div.col-md-3
                                    input#cnpj.form-control.mask-cnpj(type="text", name="cnpj", data-required="1", data-label="lb-cnpj",placeholder="__.___.___/____-__") 


                            div.form-group
                                label#lb-im.control-label.col-md-2 Inscrição Municipal:
                                    
                                
                                div.col-md-3
                                    input#im.form-control(type="text", name="im", data-required="1", data-label="lb-im") 

                                   
                                label#lb-ie.control-label.col-md-2 Inscrição Estadual:
                                    span.required *
                                
                                div.col-md-3
                                    input#ie.form-control(type="text", name="ie", data-required="1", data-label="lb-ie") 


                            div.form-group
                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *

                                div.col-md-3
                                    div
                                        select#status.chosen-select(name="status", data-label="lb-status")
                                            option(value="1",selected="selected") Ativo
                                            option(value="2") Inativo

                                

                            fieldset
                                legend Endereço

                                div.form-group
                                    label#lb-cep.col-md-2.control-label CEP:
                                        span.required *

                                    div.col-md-2
                                        input#cep.form-control(type="text", name="cep", data-required="1", data-label="lb-cep") 

                                    button.btn.btn-default.btn-icon-only
                                        i.fa.fa-search

                                div.form-group
                                    label#lb-endereco.col-md-2.control-label Endereço:
                                        span.required *

                                    div.col-md-3
                                        input#endereco.form-control(type="text", name="endereco", data-required="1", data-label="lb-endereco") 

                                    label#lb-numero.col-md-1.control-label N°:
                                        span.required *
                                    div.col-md-1
                                        input#numero.form-control(type="text", name="numero", data-required="1", data-label="lb-numero") 

                                    label#lb-complemento.col-md-1.control-label Compl:
                                        

                                    div.col-md-2
                                        input#complemento.form-control(type="text", name="complemento", data-required="1", data-label="lb-complemento",)


                                div.form-group
                                    label#lb-cidade.col-md-2.control-label Estado / Cidade:
                                        span.required *

                                    div.col-md-1
                                        select#uf.chosen-select.form-control(name="uf", data-required="1", data-label="lb-cidade")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") SP
                                            option(value="2") RJ
                                            option(value="3") ES

                                    div.col-md-2
                                        select#cidade.chosen-select.form-control(name="cidade", data-required="1", data-label="lb-cidade")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória

                                    label#lb-complemento.col-md-1.control-label Bairro:
                                        span.required *

                                    div.col-md-4
                                        input#bairro.form-control(type="text", name="bairro", data-required="1", data-label="lb-bairro")



                            fieldset
                                legend Informaçãoes do Contato

                            div.form-group
                                label#lb-nomecontato.control-label.col-md-2 Nome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nomecontato.form-control(type="text", name="nomecontato", data-required="1", data-label="lb-nomecontato") 

                                label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                    span.required *
                                
                                div.col-md-3
                                    input#telFixo.form-control.mask-telefone(type="text", data-label="lb-telFixo", name="telFixo", data-required="1", placeholder="+55 (__) ____-____")

                            div.form-group
                                label#lb-email.control-label.col-md-2 E-mail:
                                    span.required *
                                
                                div.col-md-3
                                    input#telCelular.form-control(type="text", data-label="lb-email", name="email", data-required="1")

                                label#lb-obs.control-label.col-md-2 Observação:
                                    span.required 
                                
                                div.col-md-3
                                    textarea.form-control(name:'obs', rows:5, id:'observacao' )

                            fieldset
                                legend Serviços Prestados

                            div.form-group
                                label#lb-tiposervico.control-label.col-md-2 Tipo de Serviço:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-tiposervico.chosen-select(name="tiposervico",data-allow-clear="false",data-label="lb-tiposervico")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Seguro
                                        option(value="SAO") Análise de Risco
                                        option(value="SAO") Meio de Pagamento
                                        option(value="SAO") Captação

                                label#lb-tipocobanca.control-label.col-md-2 Cobrança:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-tipocobanca.chosen-select(name="tipocobanca",data-allow-clear="false",data-label="lb-tipocobanca")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Percentual valor sobre a mercadoria
                                        option(value="SAO") Valor fixo por transação
                                        option(value="SAO") Valor fixo mensal
                                        option(value="SAO") Volume por quantidade unidade embarcada
                                        option(value="SAO") Volume por consulta
                                        option(value="SAO") Volume por pesquisa
                                        option(value="SAO") Por ocorrência

                            div.form-group
                                div.col-md-12
                                    button.btn.btn-primary.green.pull-right(type="button") Adicionar
                            div.form-group
                                div.row
                                    div.col-md-12
                                        
                                        div#pnPesquisa.portlet.light.portlet-shadow
                                            div.portlet-body
                                                table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                                                    thead.nowrap
                                                        tr
                                                            th Tipo de Serviço 
                                                            th Cobrança
                                                            th Dt. Inclusão Acesso
                                                            th Dt. Exclusão Acesso
                                                            th 
                                                    tbody

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-prestador-servico.min.js", type="text/javascript")