extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Usuários
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="cad-controle-acesso.html") Controle de Acesso
                i.fa.fa-angle-right

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user.font-dark
                            span#title-collapse.caption-subject.uppercase Informações do usuário
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group
                                label.control-label.col-md-2 Tipo de Acesso:
                                    span.required *
                                
                                div.col-md-3
                                    div.mt-radio-inline
                                        label#radioORBE.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoOrbe", value="", type="radio",checked="checked")
                                            | ORBE
                                            span
                                        
                                        label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoEmbarcador", value="", type="radio")
                                            | EMBARCADOR
                                            span
                                    
                                label.control-label.col-md-2 
                                    | Tipo de Usuário:
                                    span.required *
                                
                                div.col-md-4
                                    div.mt-radio-inline
                                        label#radioORBE.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoInterno", value="", type="radio",checked="checked") 
                                            | INTERNO
                                            span
                                        
                                        label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoExterno", value="", type="radio") 
                                            | EXTERNO
                                            span

                            div.form-group
                                label#lb-nome.control-label.col-md-2 Nome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome") 

                                label#lb-sobrenome.control-label.col-md-2 Sobrenome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="sobrenome", data-required="1", data-label="lb-sobrenome") 


                            div.form-group
                                label#lb-nome.control-label.col-md-2 Nome como ser chamado:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="apelido", data-required="1", data-label="lb-apelido") 

                                label#lb-email.control-label.col-md-2 E-mail:
                                    span.required *
                                
                                div.col-md-3
                                    input#email.form-control(type="text", name="email", data-required="1", data-label="lb-email") 
                                

                            div.form-group
                                label#lb-dtnascimento.control-label.col-md-2 Data de Nascimento:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input.form-control(type="text", placeholder="DD/MM/AAAA")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                                p.form-control-static.col-md-1 36 anos


                                label#lb-cpf.control-label.col-md-2 CPF:
                                    span.required *
                                
                                div.col-md-2
                                    input#cpf.form-control(type="text", name="cpf", data-label="lb-cpf", placeholder="___.___.___-__")
                                

                            div.form-group.form-group-top-pad
                                label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                    span.required *

                                div.col-md-3.form-inline(style="min-width: 310px;")
                                    input#telFixo.form-control.mask-telefone(style="width:155px;", type="text", name="telFixo", data-label="lb-telFixo", data-required="1", placeholder="+55 (__) ____-____")
                                    label.control-label(style="padding-left:5px; padding-top:0;") Ramal:
                                    input#ramal_fixo.form-control.pull-right.numero(style="width:60px;", type="text", name="ramal_fixo", data-required="1")

                                label#lb-telCelular.control-label.col-md-2 Telefone Móvel:
                                    
                                div.col-md-2
                                    input#telCelular.form-control.mask-telefone(type="text", data-label="lb-telCelular", name="telCelular", data-required="1", placeholder="+55 (__) ____-____")


                            div.form-group.form-group-top-pad
                                label#lb-vigencia.control-label.col-md-2 Vigência acesso até:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input.form-control(type="text", placeholder="DD/MM/AAAA")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar
                                            
                                        
                                    
                                label#lb-status.control-label.col-md-3 Status:
                                    span.required *
                                
                                div.col-md-3
                                    div
                                        select.chosen-select(name="status", data-label="lb-status")
                                            option(value="1") Ativo
                                            option(value="2") Inativo
                                        
                            div.form-group.last
                                label#lb-perfil.control-label.col-md-2 Perfil:
                                    span.required *
                                
                                div.col-md-3
                                    div
                                        select.chosen-select(name="perfil", data-label="lb-perfil")
                                            option(value="") SELECIONE
                                            option(value="1") Perfil 1
                                            option(value="2") Perfil 2

                        div#form-table.form-body
                            fieldset
                                legend Acessos Embarcador/Filial

                                div.form-group
                                    label.col-md-2.control-label Filial:
                                        span.required *
                                    
                                    div.col-md-3
                                        div
                                            select.chosen-select(name="filial", data-label="lb-filial")
                                                option(value="") SELECIONE
                                                option(value="1") Filial 1
                                                option(value="2") Filial 1
                                    
                                    label.col-md-2.control-label Fornecedor/Cliente:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.chosen-responsive
                                            select.chosen-select(name="perfil", data-label="lb-perfil")
                                                option(value="") SELECIONE
                                                option(value="1") Cliente 1
                                                option(value="2") Cliente 2
                                    
                                    div.col-md-1
                                        button.btn.btn-primary.green.pull-right(type="button") Adicionar
                                    
                                div.col-md-12
                                    table.table.table-striped.table-bordered
                                        tr
                                            th Embarcador
                                            th Filial
                                            th Fornecedor/Cliente
                                            th(width="20%") Dt. Inclusão Acesso
                                            th(width="20%") Dt. Exclusão Acesso
                                            th(width="1%", align="center")
                                        
                                        tr
                                            td Embarcador
                                            td Filial
                                            td Cliente
                                            td 12/10/2016 15:52
                                            td 01/12/2016 12:01
                                            td(align="center")
                                                div.btn-group
                                                    button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                        i.fa.fa-angle-down
                                                    
                                                    ul.dropdown-menu.pull-right(role="menu")
                                                        li
                                                            a(href="javascript:;")
                                                                i.fa.fa-ban Desativar 

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                             

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-usuario.min.js", type="text/javascript")