extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;CADASTRO EMBARCADOR & PRESTADOR E SERVIÇO
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="embarcador-prestador.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") EMBARCADOR & PRESTADOR E SERVIÇO

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações do Embarcador & Prestador de Serviço
                        
                        div.portlet-note.pull-right * Preencha os campos obrigatórios                   
 
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group
                                label#lb-nome.control-label.col-md-2 Prestador de Serviço:
                                    span.required *
                                
                                div.col-md-3
                                    div
                                        select#status.chosen-select(name="status", data-label="lb-status")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") Pamcary

                                label#lb-nmfantasia.control-label.col-md-2 Tipo de Serviço:
                                    span.required *
                                
                                div.col-md-3
                                    div
                                        select#nmfantasia.chosen-select(name="nmfantasia", data-label="lb-nmfantasia")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") Seguro
                                            option(value="2") Gerenciamento de Risco


                            div.form-group
                                label.control-label.col-md-2                             
                                div.col-md-3

                                    div.mt-checkbox-inline
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Obrigatório
                                            span

                                   
                                label#lb-prestador.control-label.col-md-2 Número do Contrato:
                                    span.required *
                                
                                div.col-md-3
                                    input#prestador.form-control(type="text", name="prestador", data-required="1", data-label="lb-prestador") 


                            div.form-group
                                label.control-label.col-md-2 Status:
                                
                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Ativo
                                        option(value="SAO") Inativo

                                label#lb-vigeciaDe.control-label.col-md-2 Vigência:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigeciaDe.form-control(type="text", placeholder="DD/MM/AAAA", name="vigeciaDe", data-label="lb-vigeciaDe")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigenciaAte.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciaAte", data-label="lb-vigenciaAte")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                        
                            fieldset
                                legend INFORMAÇÃOES DO CONTATO

                                div.form-group
                                    label#lb-nome.col-md-2.control-label Nome:
                                        span.required *

                                    div.col-md-3
                                        input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome",maxlength="250") 

                                    label#lb-numdocinss.col-md-2.control-label Cargo:
                                        span.required *

                                    div.col-md-3
                                        input#cargo.form-control(type="text", name="cargo", data-required="1", data-label="lb-cargo",maxlength="50") 


                                div.form-group
                                    label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                        span.required *

                                    div.col-md-3.form-inline(style="min-width: 310px;")
                                        input#telFixo.form-control.mask-telefone(style="width:155px;", type="text", name="telFixo", data-label="lb-telFixo", data-required="1", placeholder="+55 (__) ____-____")
                                        label.control-label(style="padding-left:5px; padding-top:0;") Ramal:
                                        input#ramal_fixo.form-control.pull-right(style="width:60px;", type="text", name="ramal_fixo", data-required="1")

                                    label#lb-emaiil.col-md-2.control-label E-mail:
                                        span.required *
                                    div.col-md-3
                                        input#email.form-control(type="text", name="email", data-required="1", data-label="lb-email", data-trigger="focus",maxlength="50", data-placement="top", data-content="CASO NÃO PREENCHIDO, O TAC ESTARÁ SUJEITO A NÃO GERAÇÃO DE CONTRATO DE FRETE", data-original-title="CAMPO 'NÚMERO DO CARTÃO MEIO DE PAGAMENTO'") 

                                div.form-group
                                    label#lb-telCelular.control-label.col-md-2 Telefone Celular:

                                    div.col-md-3
                                        input#telCelular.form-control.mask-telefone(type="text", name="telCelular", data-label="lb-telCelular", data-required="1", placeholder="+55 (__) ____-____")

                                div.form-group
                                    label#lb-obs.control-label.col-md-2 Observação:
                                        span.required 
                                    
                                    div.col-md-3
                                        textarea.form-control(name:'obs', rows:5, id:'observacao' )



            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-embarcador-prestador.min.js", type="text/javascript")