extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head

block content-of-page

    h1.page-title
        i.fa.fa-angle-double-right

        | Criar Cargas
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Montagem de Cargas

    
    div.row
        div.col-md-12
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption
                        span.caption-subject
                            b 1º Passo
                            | - Selecione o Tipo de Veículo
                                    
                div#portlet-body-search.portlet-body
                    div.col-md-6
                        label Tipo de Veículo
                        select.form-control.chosen-select(data-allow-clear="false")
                            option(value="1") Veículo Urbano de Carga (VUC)
                            option(value="2") Caminhão Semi-Pesado (Toco)
                            option(value="3") Caminhão Pesado (Truck)
                        
                    div.col-md-offset-1.col-md-5
                        label Capacidade do veículo
                            small (Carga máxima: 35T) 
                        
                        div.form-group
                            div.progress.progress-striped.active(style="margin-bottom:10px; height:30px;")
                                div(style="position:absolute; right:15px; top:0px;")
                                    span.badge.badge-success 100%
                                    span.badge.badge-danger 110% 
                                
                                div.progress-bar.progress-bar-success(style="width: 85%")
                                div.progress-bar.progress-bar-danger(style="width: 5%")
                            
                    div.clearfix
                
    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption.font-dark
                        span.caption-subject
                            b 2º Passo
                            | - Selecionar os pedidos para composição da carga
                    
                div.portlet-body
                    table#sample_1.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                        thead
                            tr
                                th
                                    label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                        input.group-checkable(type="checkbox", data-set="#sample_1 .checkboxes")
                                        span
                                    
                                th Pedido 
                                th Origem
                                th Destino
                                th Peso
                            
                        tbody
                            tr.odd.gradeX
                                td
                                    label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                        input.checkboxes(type="checkbox", value="1")
                                        span
                                    
                                td 201601010000132
                                td São Paulo/SP
                                td Rio de Janeiro/RJ
                                td 5T
                            
                            tr.odd.gradeX
                                td
                                    label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                        input.checkboxes(type="checkbox", value="1")
                                        span
                                    
                                td 201601010000132
                                td São Paulo/SP
                                td Rio de Janeiro/RJ
                                td 5T
                            
                            tr.odd.gradeX
                                td
                                    label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                        input.checkboxes(type="checkbox", value="1")
                                        span
                                    
                                td 201601010000132
                                td São Paulo/SP
                                td Rio de Janeiro/RJ
                                td 5T
                            
    div.row
        div.col-md-12
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption
                        span.caption-subject
                            b 3º Passo
                            | - Selecione os TACs
                    
                div#portlet-body-search.portlet-body
                    div.form-group
                        div.mt-radio-inline
                            label#radioVincularTAC.mt-radio
                                input(name="optionsRadios", value="", type="radio", checked="") 
                                | Vincular TAC existente
                                span
                            
                            label#radioNaoVincularTAC.mt-radio
                                input(name="optionsRadios", value="", type="radio") 
                                | Não Vincular TAC
                                span
                            
                    div#gridTACs.form-group
                        table#sample_tac.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                            thead
                                tr
                                    th
                                    th Nome 
                                    th E-mail
                                    th Tipo de Veículo
                                    th CPF
                                
                            tbody
                                tr.odd.gradeX
                                    td
                                        label.mt-radio
                                            input.mt-radio(type="radio", name="1", value="1")
                                            span
                                        
                                    td Sérgio Oliveira Muniz
                                    td sergio@hotmail.com
                                    td VUC
                                    td 332.909.332-12
                                
                                tr.odd.gradeX
                                    td
                                        label.mt-radio
                                            input.mt-radio(type="radio", name="1", value="1")
                                            span
                                        
                                    td Maria José Alcântara
                                    td mariaalcantara@hotmail.com
                                    td VUC
                                    td 110.998.122-12
                                
    div.row
        div.col-md-6.col-md-offset-6
            div.pull-right
                button.btn.btn-success.green Gravar Carga
                button#btn-cancelar.btn.btn-default Cancelar cadastro
            