extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Tipo de Veículo
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            li
                a(href="cad-tipoveiculo.html") Tipo de Veículo
                i.fa.fa-angle-right

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user.font-dark
                            span#title-collapse.caption-subject.uppercase Informações do Veículo
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group
                                label#lb-nome.control-label.col-md-2 Nome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome", maxlength="250") 

                                label#lb-quatidadeeixos.control-label.col-md-2 Quantidade de Eixos:
                                    span.required *
                                
                                div.col-md-3
                                    div
                                        select.chosen-select(name="quantidadeeixos", data-label="lb-quatidadeeixos")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") 2
                                            option(value="2") 3
                                            option(value="3") 4
                                            option(value="4") 5
                                            option(value="5") 6
                                            option(value="6") 7
                                            option(value="7") 8
                                            option(value="8") 9

                            div.form-group
                                label#lb-capacidademaxima.control-label.col-md-3 Capacidade Máxima (Toneladas):
                                    span.required *
                                
                                div.col-md-2
                                    input#capacidademaxima.form-control.decimal(type="text", name="capacidademaxima", data-required="1", data-label="lb-capacidademaxima") 

                                label#lb-comprimento.control-label.col-md-3 Comprimento (Metros):
                                    span.required *
                                
                                div.col-md-2
                                    input#comprimento.form-control.decimal(type="text", name="comprimento", data-required="1", data-label="lb-comprimento") 
                                
                            div.form-group
                                label#lb-pesobrutomaximo.control-label.col-md-3 Peso Bruto Máximo (Toneladas):
                                    span.required *
                                
                                div.col-md-2
                                    input#pesobrutomaximo.form-control.decimal(type="text", name="pesobrutomaximo", data-required="1", data-label="lb-pesobrutomaximo") 
                                

                            div.form-group
                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *
                                div.col-md-3
                                    div
                                        select.chosen-select(name="status", data-label="lb-status")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Ativo
                                            option(value="2") Inativo
                                            option(value="3") Excluído
                                            

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                             

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-tipoveiculo.min.js", type="text/javascript")