extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")

block content-of-page

    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Criar novo Planejamento
    div.page-bar(style="margin-botton: 0px;")
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-planejamento.html") Consulta planejamento
                i.fa.fa-angle-right
            
            li
                a(href="#") Cadastro planejamento

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações do Planejamento
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório



    div.portlet-body
        div.form-body
            div.row
                div#form_wizard_1.portlet.light(style="padding-top: 0px;")

                    div.portlet-body.form
                        form#submit_form.form-horizontal(action="#", method="POST", novalidate="novalidate")
                            div.form-wizard
                                div.form-body(style="padding-top: 0px;")
                                    ul.nav.nav-pills.nav-justified.steps
                                        li.active
                                            a.step(href="#tab1", data-toggle="tab", aria-expanded="false")
                                                span.number 1
                                                span.desc
                                                    i.fa.fa-check 
                                                    | Planejamento
                                            
                                        li
                                            a.step(href="#tab2", data-toggle="tab", aria-expanded="false")
                                                span.number 2 
                                                span.desc
                                                    i.fa.fa-check
                                                    | Selecionar Origem
                                            
                                        li
                                            a.step(href="#tab3", data-toggle="tab", aria-expanded="true")
                                                span.number 3 
                                                span.desc
                                                    i.fa.fa-check
                                                    | Selecionar Destino
                                            
                                        li
                                            a.step(href="#tab4", data-toggle="tab", aria-expanded="false")
                                                span.number 4 
                                                span.desc
                                                    i.fa.fa-check 
                                                    | Confirmação
                                            
                                    div#bar.progress(role="progressbar", style="height:5px; margin-bottom:0")
                                        div#progress-bar-wizard.progress-bar.progress-bar-success(style="width: 25%;")
                                    
                                    div.tab-content.col-md-12
                                        div#tab1.tab-pane.active
                                            div.col-md-12
                                                h3.block Dados do Planejamento

                                                div.col-md-12
                                                    div.form-group.clearfix

                                                        label#filial.control-label.col-md-2 Filial:
                                                            span.required *
                                                        div.chosen-select-responsive.col-md-3
                                                            
                                                            select#filial.chosen-select(name="filial",data-label="lb-filial")
                                                                option(value="", selected="selected") &nbsp;
                                                                option(value="1") Filial 1
                                                                option(value="2") Filial 2
                                                                option(value="3") Filial 3

                                            div.col-md-12
                                                h3.block Veículo
                                                div.col-md-12
                                                    div.form-group.clearfix
                                                        label#tipoveiculo.control-label.col-md-2 Tipo de Veículo:
                                                            span.required *
                                                        div.col-md-3
                                                            div.chosen-select-responsive
                                                                select#tipoveiculo.chosen-select(name="tipoveiculo", data-label="lb-tipoveiculo")
                                                                    option(value="", selected="") &nbsp;
                                                                    option(value="1") Trucado
                                                                    option(value="2") VUC

                                                        
                                                        label#carroceria.control-label.col-md-2 Carroceria:
                                                            span.required *
                                                        div.col-md-3
                                                            div.chosen-select-responsive
                                                                select#carroceria.chosen-select(name="carroceria", data-label="lb-carroceria")
                                                                    option(value="", selected="") &nbsp;
                                                                    option(value="1") Carroceria 1
                                                                    option(value="2") Carroceria 2

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Peso Máximo Veículo (Ton.):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#pesoMaximo.mask-peso.control-label(type="text", name="pesoMaximo", data-label="lb-pesoMaximo",style="text-align:left;")

                                                        label.control-label.col-md-2 Cubagem máxima (m³):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#cubagemMaxima.numero.control-label(type="text", name="cubagemMaxima", data-label="lb-cubagemMaxima",style="text-align:left;")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Peso carga (Ton.):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#pesoCarga.control-label.mask-peso(type="text", name="pesoCarga", data-label="lb-pesoCarga",style="text-align:left;")

                                                        label.control-label.col-md-2 Cubagem frete (m³):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#cubagemFrete.control-label.numero(type="text", name="cubagemFrete", data-label="lb-cubagemFrete",style="text-align:left;")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Quantidade Veículos:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#quantidadeVeiculo.control-label.numero(type="text", name="quantidadeVeiculo", data-label="lb-quantidadeVeiculo",style="text-align:left;")

                                            div.col-md-12
                                                h3.block Valor do Frete
                                                div.col-md-12

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="porViagem", value="",checked="checked", type="radio")
                                                                    | Por Viagem
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="porTonelada", value="", type="radio")
                                                                    | Por Tonelada
                                                                    span

                                                        div.col-md-3

                                                            div.mt-checkbox-inline
                                                                label#checkValor.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                                                    input(name="optionsRadios", value="", type="checkbox") 
                                                                    | Valor a Combinar
                                                                    span

                                                    div.form-group.clearfix(style="margin-bottom:0px;")
                                                        label.control-label.col-md-3 Valor Frete:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#valorFrete.control-label.mask-money(type="text", name="valorFrete", data-label="lb-valorFrete",style="text-align:left;")

                                                        label.control-label.col-md-2(style="padding-top:0px;") Valor total frete<br> por veículo:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#valorTotal.control-label.mask-money(type="text", name="valorTotal", data-label="lb-valorTotal",style="text-align:left;")

                                                    div.form-group.clearfix
                                                        div.col-md-3
                                                        p.control-label.col-md-2(style="padding-top:0px;text-align: left;font-size:smaller;") Valor não inclui pedágio conforme lei 123456

                                                        div.col-md-2
                                                        p.control-label.col-md-2(style="padding-top:0px;text-align: left;font-size:smaller;") Valor não inclui pedágio conforme lei 123456


                                                
                                            div.clearfix

                                        div#tab2.tab-pane
                                            div.col-md-12
                                                h3.block Selecione a Origem da carga

                                                div.col-md-12
                                                    div.form-group.clearfix
                                                        label#lb-dtcoleta.control-label.col-md-2 Data Coleta:
                                                            span.required *
                                                        
                                                        div.col-md-2
                                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                                input#dtcoleta.form-control(type="text", placeholder="DD/MM/AAAA", name="dtcoleta", data-label="lb-dtcoleta")
                                                                span.input-group-btn
                                                                    button.btn.default(type="button")
                                                                        i.fa.fa-calendar
                                                        
                                                        label#horacoleta.control-label.col-md-2 Hora Coleta:
                                                            span.required *           

                                                        div.col-md-1
                                                            input#horacoleta.form-control.hora(type="text", name="horacoleta", data-label="lb-horacoleta")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete:

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioFilial", value="",checked="checked" type="radio")
                                                                    | Filial
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioCliente", value="", type="radio")
                                                                    | Empresa/Cliente
                                                                    span

                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioNovo", value="", type="radio")
                                                                    | Novo
                                                                    span

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Nome Filial:
                                                        label.control-label.col-md-2(style="text-align:left;") Lenovo Sorocaba

                                                        label.control-label.col-md-2 CNPJ:
                                                        label.control-label.col-md-2(style="text-align:left;") 000.000.000/00000-00

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Estado:
                                                        label.control-label.col-md-2(style="text-align:left;") São Paulo

                                                        label.control-label.col-md-2 Cidade:
                                                        label.control-label.col-md-2(style="text-align:left;") Sorocaba

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Rua:
                                                        label.control-label.col-md-2(style="text-align:left;") Antonio Moraes

                                                        label.control-label.col-md-2 Número:
                                                        label.control-label.col-md-2(style="text-align:left;") 207

                                            div.clearfix

                                        div#tab3.tab-pane
                                            div.col-md-12
                                                h3.block Selecione o destino da carga

                                                div.col-md-12

                                                    div.form-group.clearfix
                                                        label#lb-dtcoleta.control-label.col-md-2 Data Coleta:
                                                            span.required *
                                                        
                                                        div.col-md-2
                                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                                input#dtcoleta.form-control(type="text", placeholder="DD/MM/AAAA", name="dtcoleta", data-label="lb-dtcoleta")
                                                                span.input-group-btn
                                                                    button.btn.default(type="button")
                                                                        i.fa.fa-calendar
                                                        
                                                        label#horacoleta.control-label.col-md-2 Hora Coleta:
                                                            span.required *           

                                                        div.col-md-1
                                                            input#horacoleta.form-control.hora(type="text", name="horacoleta", data-label="lb-horacoleta")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete:

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioFilial-frete", value="",checked="checked" type="radio")
                                                                    | Filial
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioEmpresa-frete", value="", type="radio")
                                                                    | Empresa/Cliente
                                                                    span

                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="radioNovo-frete", value="", type="radio")
                                                                    | Novo
                                                                    span
                                                    div.form-group

                                                        label#filial.control-label.col-md-2 Estado:

                                                        div.chosen-select-responsive.col-md-1
                                                            
                                                            select.chosen-select(name="",data-label="lb-")
                                                                option(value="", selected="selected") &nbsp;
                                                                option(value="1") SP
                                                                option(value="2") RJ
                                                                option(value="3") MG

                                                        label#filial.control-label.col-md-3 Cidade:

                                                        div.chosen-select-responsive.col-md-2
                                                            
                                                            select#filial.chosen-select(name="filial",data-label="lb-filial")
                                                                option(value="", selected="selected") &nbsp;
                                                                option(value="1") Cidade 1
                                                                option(value="2") Cidade 2
                                                                option(value="3") Cidade 3

                                            div.clearfix

                                        div#tab4.tab-pane
                                            div.col-md-12
                                                h3.block Confirmação do Planejamento

                                                div.col-md-12
                                                    div.form-group.clearfix

                                                        label#filial.control-label.col-md-2 Filial:
                                                            span.required *
                                                        div.chosen-select-responsive.col-md-3
                                                            
                                                            input.form-control(readonly="readonly")

                                            div.col-md-12
                                                h3.block Veículo
                                                div.col-md-12
                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo de Veículo:
                                                            span.required *
                                                        div.col-md-3
                                                            input.form-control(readonly="readonly")

                                                        
                                                        label#carroceria.control-label.col-md-2 Carroceria:
                                                            span.required *
                                                        div.col-md-3
                                                            input.form-control(readonly="readonly")


                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Peso Máximo Veículo (Ton.):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input.form-control.numero(type="text", name="", data-label="",readonly="readonly")

                                                        label.control-label.col-md-2 Cubagem máxima (m³):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#cubagemMaxima.form-control.numero(type="text", name="cubagemMaxima", data-label="lb-cubagemMaxima",readonly="readonly")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Peso carga (Ton.):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#pesoCarga.form-control.numero(type="text", name="pesoCarga", data-label="lb-pesoCarga",readonly="readonly")

                                                        label.control-label.col-md-2 Cubagem frete (m³):
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#cubagemFrete.form-control.numero(type="text", name="cubagemFrete", data-label="lb-cubagemFrete",readonly="readonly")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-3 Quantidade Veículos:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#quantidadeVeiculo.form-control.numero(type="text", name="quantidadeVeiculo", data-label="lb-quantidadeVeiculo",readonly="readonly")

                                            div.col-md-12
                                                h3.block Valor do Frete
                                                div.col-md-12

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="nao",checked="checked" type="radio",disabled)
                                                                    | Por Viagem
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="sim", type="radio",disabled)
                                                                    | Por Tonelada
                                                                    span

                                                        div.col-md-3

                                                            div.mt-checkbox-inline
                                                                label#checkValor.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                                                    input(name="optionsRadios", value="", type="checkbox",disabled) 
                                                                    | Valor a Combinar
                                                                    span

                                                    div.form-group.clearfix(style="margin-bottom:0px;")
                                                        label.control-label.col-md-3 Valor Frete:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#valorFrete.form-control.mask-money(type="text", name="valorFrete", data-label="lb-valorFrete",readonly="readonly")

                                                        label.control-label.col-md-2(style="padding-top:0px;") Valor total frete<br> por veículo:
                                                            span.required *
                                                    
                                                        div.col-md-2
                                                            input#valorTotal.form-control.mask-money(type="text", name="valorTotal", data-label="lb-valorTotal",readonly="readonly")

                                                    div.form-group.clearfix
                                                        div.col-md-3
                                                        p.control-label.col-md-2(style="padding-top:0px;text-align: left;font-size:smaller;") Valor não inclui pedágio conforme lei 123456

                                                        div.col-md-2
                                                        p.control-label.col-md-2(style="padding-top:0px;text-align: left;font-size:smaller;") Valor não inclui pedágio conforme lei 123456

                                            div.col-md-12
                                                h3.block Origem da carga

                                                div.col-md-12
                                                    div.form-group.clearfix
                                                        label#lb-dtcoleta.control-label.col-md-2 Data Coleta:
                                                            span.required *
                                                        
                                                        div.col-md-2
                                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                                input#dtcoleta.form-control(type="text", placeholder="DD/MM/AAAA", name="dtcoleta", data-label="lb-dtcoleta",readonly="readonly")
                                                                span.input-group-btn
                                                                    button.btn.default(type="button")
                                                                        i.fa.fa-calendar
                                                        
                                                        label#horacoleta.control-label.col-md-2 Hora Coleta:
                                                            span.required *           

                                                        div.col-md-1
                                                            input#horacoleta.form-control.hora(type="text", name="horacoleta", data-label="lb-horacoleta",readonly="readonly")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete:

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="nao",checked="checked" type="radio",disabled)
                                                                    | Filial
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="sim", type="radio",disabled)
                                                                    | Empresa/Cliente
                                                                    span

                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="sim", type="radio",disabled)
                                                                    | Novo
                                                                    span

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Nome Filial:
                                                        label.control-label.col-md-2(style="text-align:left;") Lenovo Sorocaba

                                                        label.control-label.col-md-2 CNPJ:
                                                        label.control-label.col-md-2(style="text-align:left;") 000.000.000/00000-00

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Estado:
                                                        label.control-label.col-md-2(style="text-align:left;") São Paulo

                                                        label.control-label.col-md-2 Cidade:
                                                        label.control-label.col-md-2(style="text-align:left;") Sorocaba

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Rua:
                                                        label.control-label.col-md-2(style="text-align:left;") Antonio Moraes

                                                        label.control-label.col-md-2 Número:
                                                        label.control-label.col-md-2(style="text-align:left;") 207

                                            div.col-md-12
                                                h3.block Destino da carga

                                                div.col-md-12

                                                    div.form-group.clearfix
                                                        label#lb-dtcoleta.control-label.col-md-2 Data Coleta:
                                                            span.required *
                                                        
                                                        div.col-md-2
                                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                                input#dtcoleta.form-control(type="text", placeholder="DD/MM/AAAA", name="dtcoleta", data-label="lb-dtcoleta",disabled="disabled")
                                                                span.input-group-btn
                                                                    button.btn.default(type="button")
                                                                        i.fa.fa-calendar
                                                        
                                                        label#horacoleta.control-label.col-md-2 Hora Coleta:
                                                            span.required *           

                                                        div.col-md-1
                                                            input#horacoleta.form-control.hora(type="text", name="horacoleta", data-label="lb-horacoleta",disabled="disabled")

                                                    div.form-group.clearfix
                                                        label.control-label.col-md-2 Tipo Frete:

                                                        div.col-md-5
                                                            div.mt-radio-inline
                                                                label#radioViagem.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="nao",checked="checked" type="radio",disabled)
                                                                    | Filial
                                                                    span
                                                                
                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="sim", type="radio",disabled)
                                                                    | Empresa/Cliente
                                                                    span

                                                                label#radioTonelada.mt-radio(style="margin-bottom:0;")
                                                                    input(name="valueRadio", value="sim", type="radio",disabled)
                                                                    | Novo
                                                                    span
                                                    div.form-group.clearfix

                                                        label#filial.control-label.col-md-2 Estado:

                                                        div.chosen-select-responsive.col-md-1
                                                            input#quantidadeVeiculo.form-control.numero(type="text", name="quantidadeVeiculo", data-label="lb-quantidadeVeiculo",readonly="readonly")

                                                        label#filial.control-label.col-md-3 Cidade:

                                                        div.chosen-select-responsive.col-md-2
                                                            input#quantidadeVeiculo.form-control.numero(type="text", name="quantidadeVeiculo", data-label="lb-quantidadeVeiculo",readonly="readonly")



                                    div.clearfix

                                div.form-actions
                                    div.row
                                        div.col-md-offset-3.col-md-9
                                            div.pull-right
                                             a.btn.default.button-cancel(href="javascript:;", style="display: inline-block;")
                                                    | &nbsp;CANCELAR&nbsp;
                                                a.btn.default.button-previous(href="javascript:;", style="display: inline-block;")
                                                    i.fa.fa-angle-left 
                                                    | &nbsp;VOLTAR&nbsp;
                                                a.btn.green.button-next(href="javascript:;", style="display: inline-block;") AVANÇAR&nbsp;
                                                    i.fa.fa-angle-right
                                                
                                                a.btn.green.button-submit(href="javascript:;", style="display: none;") &nbsp;GRAVAR PLANEJAMENTO
                                                    i.fa.fa-check
                                    
block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript") 
    script(src= diretorioAssets + "/pages/scripts/_cad-planejamento-novo.min.js", type="text/javascript") 

            