extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de tipotac
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-motorista.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Cadastro de TAC

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações do TAC
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                    div.portlet-body
                        div.form-body#cadastro
                            div#cadastro

                                div.form-group
                                    label#lb-nome.control-label.col-md-2 Nome:
                                        span.required *
                                    
                                    div.col-md-4
                                        input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome",maxlength="250") 

                                    label#lb-cpf.control-label.col-md-1 CPF:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#cpf.form-control(type="text", name="cpf", data-required="1", data-label="lb-cpf") 


                                div.form-group
                                    label#lb-rg.control-label.col-md-2 RG:
                                        span.required *
                                    
                                    div.col-md-2
                                        input#rg.form-control(type="text", name="rg", data-required="1", data-label="lb-rg",maxlength="20") 

                                    label#lb-ufrg.control-label.col-md-1 UF:
                                        span.required *

                                    div.col-md-1
                                        div
                                            select#ufrg.chosen-select(name="uf", data-label="lb-ufrg")
                                                option(value="1") SP
                                                option(value="2") RJ
                                                option(value="3") ES
                                        
                                    label#lb-dtnascimento.control-label.col-md-2 Data de Nascimento:
                                        span.required *
                                    
                                    div.col-md-2
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#dtnascimento.form-control(type="text", placeholder="DD/MM/AAAA", name="dtnascimento", data-label="lb-dtnascimento")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar

                                    p.form-control-static.col-md-1 36 anos


                                div.form-group
                                    label#lb-sexo.control-label.col-md-2 Sexo:
                                        span.required *

                                    div.col-md-3
                                        div
                                            select#sexo.chosen-select(name="sexo", data-label="lb-sexo")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Masculino
                                                option(value="2") Feminino

                                    label#lb-estadocivil.control-label.col-md-2 Estado Civil:
                                        span.required *

                                    div.col-md-3
                                        div
                                            select#estadocivil.chosen-select(name="estadocivil", data-label="lb-estadocivil")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Solteiro(a)
                                                option(value="2") Casado(a)
                                                option(value="3") Separado(a)
                                                option(value="4") Viúvo(a)
                                    
                                div.form-group
                                    label#lb-nomeconjuge.control-label.col-md-2 Nome Conjuge:
                                    
                                    div.col-md-3
                                        input#nomeconjuge.form-control(type="text", name="nomeconjuge", data-label="lb-nomeconjuge",maxlength="250") 

                                    label#lb-qtdfilhos.control-label.col-md-2 Número de Dependentes:
                                        span.required *
                                    div.col-md-3
                                        input#qtdfilhos.form-control(type="text", name="qtdfilhos", data-label="lb-qtdfilhos",maxlength="2") 
                                    

                                div.form-group
                                    label#lb-nomemae.control-label.col-md-2 Nome Mãe:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#nomemae.form-control(type="text", name="nomemae", data-label="lb-nomemae",maxlength="250") 

                                    label#lb-nomepai.control-label.col-md-2 Nome Pai:
                                        
                                    
                                    div.col-md-3
                                        input#nomepai.form-control(type="text", name="nomepai", data-label="lb-nomepai",maxlength="250") 
                                    

                                div.form-group
                                    label#lb-telFixo.control-label.col-md-2 Telefone:
                                        span.required *

                                    div.col-md-3
                                        input#telFixo.form-control.mask-telefone(type="text", name="telFixo", data-label="lb-telFixo", data-required="1", placeholder="+55 (__) ____-____")

                                    label#lb-tipotel.control-label.col-md-2 Tipo Telefone:
                                        span.required *
                                    
                                    div.col-md-3
                                        div
                                            select#lb-tipotel.chosen-select(name="tipotel", data-label="lb-tipotel")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Fixo
                                                option(value="2") Celular


                                div.form-group
                                    label#lb-tipocontato.control-label.col-md-2 Tipo de Contato:
                                        span.required *
                                    
                                    div.col-md-3
                                        div
                                            select.chosen-select(name="tipocontato", data-label="lb-tipocontato")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Pessoal
                                                option(value="2") Recado
                                                
                                    label#lb-operadora.control-label.col-md-2 Operadora:
                                        
                                    
                                    div.col-md-3
                                        div
                                            select.chosen-select(name="operadora", data-label="lb-operadora")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Claro
                                                option(value="2") Vivo
                                                option(value="2") Tim
                                        
                                div.form-group
                                    
                                    label#lb-email.control-label.col-md-2 E-mail:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#telCelular.form-control(type="text", data-label="lb-email", name="email", data-required="1",maxlength="50")

                                    label#lb-tipotac.col-md-2.control-label Tipo de TAC:
                                        span.required *

                                    div.col-md-3.chosen-responsive
                                        select#tipotac.chosen-select.form-control(name="tipotac", data-label="lb-tipotac")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") Tipo TAC 1
                                            option(value="2") Tipo TAC 2
                                            option(value="3") Tipo TAC 3   
                                                
                                div.form-group

                                    label#lb-operadora.control-label.col-md-7 Status:
                                        span.required *
                                    
                                    div.col-md-3
                                        div
                                            select.chosen-select(name="status", data-label="lb-status")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Ativo
                                                option(value="2") Inativo
                        
                            fieldset#documentos
                                legend Documentos

                                div.form-group

                                    label#lb-codrntrc.control-label.col-md-2 Código RNTRC:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#codrntrc.form-control(type="text", name="codrntrc", data-required="1", data-label="lb-codrntrc",maxlength="9") 

                                div.form-group

                                    label#lb-datarntrc.control-label.col-md-2 Data RNTRC:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#datarntrc.form-control(type="text", name="datarntrc", placeholder="DD/MM/AAAA", data-label="lb-datarntrc")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar
                                    
                                    label#lb-validaderntrc.control-label.col-md-2 Data validade:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#validaderntrc.form-control(type="text", placeholder="DD/MM/AAAA", name="validaderntrc", data-label="lb-validaderntrc")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar
                                    
                                div.form-group

                                    label#lb-codcnh.control-label.col-md-2 Número CNH:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#codcnh.form-control(type="text", name="codcnh", data-required="1", data-label="lb-codcnh",maxlength="20") 

                                    label#lb-categoriacnh.control-label.col-md-2 Código Categoria:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#categoriacnh.form-control(type="text", name="categoriacnh", data-required="1", data-label="lb-categoriacnh",maxlength="3") 
                                    
                                div.form-group

                                    label#lb-emissaocnh.control-label.col-md-2 Data emissão:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input.form-control(type="text", placeholder="DD/MM/AAAA", name="emissaocnh", data-label="lb-emissaocnh")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar
                                    
                                    label#lb-ufcnh.control-label.col-md-2 UF/Cidade CNH:
                                        span.required *
                                    
                                    div.col-md-1
                                        select#ufcnh.chosen-select(name="ufcnh", data-label="lb-ufcnh")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") SP
                                            option(value="2") RJ
                                            option(value="3") ES
                                    
                                    div.col-md-2
                                        select#cidadecnh.chosen-select(name="cidadecnh", data-label="lb-cidadecnh")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória
                                

                                div.form-group
                                
                                    label#lb-primeiracnh.control-label.col-md-2 Data Primeira CNH:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#primeiracnh.form-control(type="text", placeholder="DD/MM/AAAA", name="primeiracnh", data-label="lb-primeiracnh")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar

                                    label#lb-vigenciacnh.control-label.col-md-2 Data Vigência CNH:
                                        span.required *
                                    
                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#vigenciacnh.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciacnh", data-label="lb-vigenciacnh")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar


                                div.form-group
                                    label#lb-tipodocinss.col-md-2.control-label Tipo Documento INSS:
                                        span.required *

                                    div.col-md-3.chosen-responsive
                                        select#tipodocinss.chosen-select.form-control(name="tipodocinss", data-label="lb-tipodocinss")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") NIS
                                            option(value="2") NIT
                                            option(value="3") PIS
                                            option(value="4") PASEP

                                    label#lb-numdocinss.col-md-2.control-label Número INSS:
                                        span.required *

                                    div.col-md-3
                                        input#numdocinss.form-control(type="text", name="numdocinss", data-required="1", data-label="lb-numdocinss",maxlength="30") 


                                div.form-group
                                    label#lb-numccm.col-md-2.control-label Número CCM:

                                    div.col-md-3
                                        input#numccm.form-control.popovers(type="text", name="numccm", data-required="1", data-label="lb-numccm", data-trigger="focus",maxlength="30", data-placement="top", data-content="CASO NÃO PREENCHIDO, O TAC ESTARÁ SUJEITO AO DESCONTO DE ISS SOBRE O FRETE", data-original-title="CAMPO 'NÚMERO DO CCM'") 

                                    label#lb-numccard.col-md-3.control-label Número Cartão (Meio Pagamento):

                                    div.col-md-2.cartao-pagamento
                                        input#numccard.form-control.popovers(type="text", name="numccard", data-required="1", data-label="lb-numccard", data-trigger="focus",maxlength="50", data-placement="top", data-content="CASO NÃO PREENCHIDO, O TAC ESTARÁ SUJEITO A NÃO GERAÇÃO DE CONTRATO DE FRETE", data-original-title="CAMPO 'NÚMERO DO CARTÃO MEIO DE PAGAMENTO'") 


                            fieldset#endereco
                                legend Endereço

                                div.form-group
                                    label#lb-cep.col-md-2.control-label CEP:
                                        span.required *

                                    div.col-md-2
                                        input#cep.form-control(type="text", name="cep", data-required="1", data-label="lb-cep") 

                                    button.btn.btn-default.btn-icon-only
                                        i.fa.fa-search

                                div.form-group
                                    label#lb-endereco.col-md-2.control-label Endereço:
                                        span.required *

                                    div.col-md-3
                                        input#endereco.form-control(type="text", name="endereco", data-required="1", data-label="lb-endereco",maxlength="250") 

                                    label#lb-numero.col-md-1.control-label N°:
                                        span.required *
                                    div.col-md-1
                                        input#numero.form-control(type="text", name="numero", data-required="1", data-label="lb-numero",maxlength="5") 

                                    label#lb-bairro.col-md-1.control-label Bairro:
                                        span.required *

                                    div.col-md-2
                                        input#bairro.form-control(type="text", name="bairro", data-required="1", data-label="lb-bairro",maxlength="250")


                                div.form-group
                                    label#lb-complemento.col-md-2.control-label Complemento:

                                    div.col-md-3
                                        input#complemento.form-control(type="text", name="complemento", data-required="1", data-label="lb-complemento",maxlength="250") 

                                    label#lb-ufcidade2.col-md-1.control-label UF/Cidade:
                                        span.required *

                                    div.col-md-1
                                        select#ufcidade2.chosen-select.form-control(name="ufcidade2", data-required="1", data-label="lb-ufcidade2")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") SP
                                            option(value="2") RJ
                                            option(value="3") ES

                                    div.col-md-3
                                        select#cidade.chosen-select.form-control(name="cidade", data-required="1", data-label="lb-cidade")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória


                                div.form-group
                                    label#lb-tipoendereco.col-md-2.control-label Tipo de Endereço:
                                        span.required *

                                    div.col-md-3
                                        select#tipoendereco.chosen-select(name="tipoendereco", data-label="lb-tipoendereco")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") Tipo 1
                                            option(value="2") Tipo 2
                                            option(value="3") Tipo 3

                                    label#lb-tipoimovel.col-md-2.control-label Tipo Imóvel:
                                        span.required *

                                    div.col-md-3
                                        select#tipoimovel.chosen-select.form-control(name="tipoimovel", data-required="1", data-label="lb-tipoimovel")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") Tipo 1
                                            option(value="2") Tipo 2
                                            option(value="3") Tipo 3

                            fieldset#saidas.display-hide
                                legend Detalhe Saída Cadastro

                                div.form-group
                                    label#lb-motivo.col-md-2.control-label Motivo Saída:
                                        

                                    div.col-md-3
                                        div.chosen-responsive
                                            select#lb-motivo.chosen-select.form-control(name="motivo",data-label="lb-motivo")
                                                option(value="", selected="selected") &nbsp;
                                                option(value="1") Motivo 1
                                                option(value="2") Motivo 2
                                                option(value="3") Motivo 3

                                    label.col-md-2.control-label Data óbito:
                                        

                                    div.col-md-3
                                        div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                            input#validaderntrc.form-control(type="text", placeholder="DD/MM/AAAA", name="validaderntrc", data-label="lb-validaderntrc")
                                            span.input-group-btn
                                                button.btn.default(type="button")
                                                    i.fa.fa-calendar

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-motorista.min.js", type="text/javascript")