extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Cadastro PLanejamento
    
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-planejamento.html") Consulta planejamento
                i.fa.fa-angle-right
            
            li
                a(href="#") Cadastro planejamento

    form#form-planejamento.form.form-horizontal
        div.row
            div.col-md-12
                div.portlet.light.portlet-shadow
                    div.portlet-title
                        div.caption
                            span.caption-subject
                                | Informações da Coleta
                        
                    div.portlet-body
                        div.form-group.clearfix
                        
                            label.control-label.col-md-2 CEP:

                            div.col-md-3.form-inline
                                input.form-control(type="text") 
                                button.btn.btn-default.btn-icon-only
                                    i.fa.fa-search
                            
                            label#lb-dtcoleta.control-label.col-md-2 Data/Hora da Coleta:
                            
                            div.col-md-5
                                div.col-md-6
                                    div.input-group
                                        input#data.form-control(type="text", placeholder="DD/MM/AAAA", name="dtnascimento", data-label="lb-dtnascimento")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar
                                div.col-md-4
                                    div.input-group
                                        input#hora.form-control.timepicker.timepicker-24(type="text", placeholder="__:__", name="hora", data-label="lb-dtcoleta")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-clock-o


                        div.form-group.clearfix
                            label.control-label.col-md-2 Endereço:

                            div.col-md-5
                                input.form-control(type="text") 

                            label.control-label.col-md-1 Número:

                            div.col-md-1
                                input.form-control(type="text")

                        div.form-group.clearfix
                            label.control-label.col-md-2 Bairro:
                            
                            div.col-md-3
                                input.form-control(type="text")

                            label.col-md-2.control-label Complemento:
                            
                            div.col-md-3
                                input.form-control(type="text")

                        div.form-group.clearfix
                            label.control-label.col-md-2 Cidade/UF:

                            div.col-md-1
                                select#ufcnh.chosen-select(name="ufcnh", data-label="lb-ufcnh")
                                    option(value="", selected="") &nbsp;
                                    option(value="1") SP
                                    option(value="2") RJ
                                    option(value="3") ES
                            
                            div.col-md-7
                                select#cidadecnh.chosen-select(name="cidadecnh", data-label="lb-ufcnh")
                                    option(value="", selected="") &nbsp;
                                    option(value="1") São Paulo
                                    option(value="2") Rio de Janeiro
                                    option(value="3") Vitória
                                
        div.row
            div.col-md-12
                div.portlet.light.portlet-shadow
                    div.portlet-title
                        div.caption
                            span.caption-subject
                                | Informações de Destino
                        
                    div.portlet-body
                        div.form-group.clearfix
                        
                            label.control-label.col-md-2 CEP:

                            div.col-md-3.form-inline
                                input.form-control(type="text") 
                                button.btn.btn-default.btn-icon-only
                                    i.fa.fa-search
                            
                        div.form-group.clearfix
                            label.control-label.col-md-2 Endereço:

                            div.col-md-5
                                input.form-control(type="text") 

                            label.control-label.col-md-1 Número:

                            div.col-md-1
                                input.form-control(type="text")

                        div.form-group.clearfix
                            label.control-label.col-md-2 Bairro:
                            
                            div.col-md-3
                                input.form-control(type="text")

                            label.col-md-2.control-label Complemento:
                            
                            div.col-md-3
                                input.form-control(type="text")

                        div.form-group.clearfix
                            label.control-label.col-md-2 Cidade/UF:

                            div.col-md-1
                                select#ufcnh.chosen-select(name="ufcnh", data-label="lb-ufcnh")
                                    option(value="", selected="") &nbsp;
                                    option(value="1") SP
                                    option(value="2") RJ
                                    option(value="3") ES
                            
                            div.col-md-7
                                select#cidadecnh.chosen-select(name="cidadecnh", data-label="lb-ufcnh")
                                    option(value="", selected="") &nbsp;
                                    option(value="1") São Paulo
                                    option(value="2") Rio de Janeiro
                                    option(value="3") Vitória

        
        div.row
            div.col-md-12
                div.portlet.light.portlet-shadow
                    div.portlet-title
                        div.caption.font-dark
                            span.caption-subject
                                | Detalhes do Planejamento
                        
                    div.portlet-body
                        div.form-group.clearfix
                            label.control-label.col-md-2 Quantidade de veículos:
                            div.col-md-1
                                input.form-control(type="number")

                            label.control-label.col-md-2 Valor do Frete:
                            div.col-md-2
                                input.form-control(type="text")

                            label.control-label.col-md-2 Peso:
                                small (ton/veículo)
                            div.col-md-1
                                input.form-control(type="number")

                        div.form-group.clearfix
                            label.control-label.col-md-2 Tipo de Veículo:

                            div.col-md-3
                                div.chosen-select-responsive
                                    select.chosen-select
                                        option(value="1") 
                                        option(value="2") 
                                        option(value="3") 
                                        option(value="4") 
                                        option(value="5") 
                                        option(value="6") 
                                        option(value="7") 
                                        option(value="8") 
                                        option(value="9") 
                                        option(value="10") 
                            
                            label.control-label.col-md-2 Tipo de Carroceria:

                            div.col-md-3
                                div.chosen-select-responsive
                                    select.chosen-select
                                        option(value="1") 
                                        option(value="2") 
                                        option(value="3") 
                                        option(value="4") 
                                        option(value="5") 
                                        option(value="6") 
                                        option(value="7") 
                                        option(value="8") 
                                        option(value="9") 
                                        option(value="10") 
                            
                      
        div.row
            div.col-md-6.col-md-offset-6
                div.pull-right
                    button.btn.btn-success.green Gravar Planejamento
                    button#btn-cancelar.btn.btn-default Cancelar
    

block script-footer
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-planejamento.min.js", type="text/javascript")