extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU

block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")


block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right 
		| &nbsp;Seja bem vindo(a) ao ORBE
		
	div.page-bar
		ul.page-breadcrumb
			li
				i.icon-home
				a(href="index.html") Início
				i.fa.fa-angle-right

			li
				a(href="javascript:;") Bem vindo

	form#form1.form-horizontal(action="#", novalidate="novalidate")  
		div.row
			div.col-md-12
				
				div.portlet.light.portlet-fit.portlet-form.portlet-shadow
					
					div.portlet-title

						div.caption
							i.icon-user.font-dark
							span#title-collapse.caption-subject.uppercase Informações do usuário
						
						div.portlet-note.pull-right * Preenchimento obrigatório

					div.portlet-body
						div.form-body
							div.alert.alert-danger.display-hide
								button.close(data-close="alert") 
								| Preencha os campos obrigatórios.

							div.alert.alert-success.display-hide
								button.close(data-close="alert")
								| Validação realizada com sucesso!


							div.form-group
								label#lb-nome.control-label.col-md-2 Nome:
									span.required *
								
								div.col-md-3
									input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome") 

								label#lb-sobrenome.control-label.col-md-2 Sobrenome:
									span.required *
								
								div.col-md-3
									input#nome.form-control(type="text", name="sobrenome", data-required="1", data-label="lb-sobrenome") 


							div.form-group
								label#lb-nome.control-label.col-md-2 Nome como ser chamado:
									span.required *
								
								div.col-md-3
									input#nome.form-control(type="text", name="apelido", data-required="1", data-label="lb-apelido") 

								label#lb-email.control-label.col-md-2 E-mail:
									span.required *
								
								div.col-md-3
									input#email.form-control(type="text", name="email", data-required="1", data-label="lb-email", readonly="readonly") 


							div.form-group.form-group-top-pad
								label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
									span.required *

								div.col-md-3.form-inline(style="min-width: 310px;")
									input#telFixo.form-control.mask-telefone(style="width:155px;", type="text", name="telFixo", data-label="lb-telFixo", data-required="1", placeholder="+55 (__) ____-____")
									label.control-label(style="padding-left:5px; padding-top:0;") Ramal:
									input#ramal_fixo.form-control.pull-right(style="width:60px;", type="text", name="ramal_fixo", data-required="1")

								label#lb-telCelular.control-label.col-md-2 Telefone Móvel:
									span.required *
								
								div.col-md-2
									input#telCelular.form-control.mask-telefone(type="text", data-label="lb-telCelular", name="telCelular", data-required="1", placeholder="+55 (__) ____-____")


							div.form-group.form-group-top-pad
								label#lb-dtnascimento.control-label.col-md-2 Data de Nascimento:
									span.required *
								
								div.col-md-2
									div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
										input.form-control(type="text", placeholder="DD/MM/AAAA")
										span.input-group-btn
											button.btn.default(type="button")
												i.fa.fa-calendar

								p.form-control-static.col-md-1 36 anos


								label#lb-cpf.control-label.col-md-2 CPF:
									span.required *
								
								div.col-md-2
									input#cpf.form-control(type="text", name="cpf", data-label="lb-cpf", placeholder="___.___.___-__", readonly="readonly")


						div#form-table.form-body
							fieldset
								legend Acessos Embarcador/Filial
								
								div.col-md-12
									table.table.table-striped.table-bordered
										tr
											th Embarcador
											th Filial
											th(width="20%") Dt. Inclusão Acesso
											th(width="20%") Dt. Exclusão Acesso
											
										tr
											td Embarcador
											td Filial
											td 12/10/2016 15:52
											td 01/12/2016 12:01
			div.form-body
				divcol-md-12
					div.pull-right
						button.btn.green(type="submit") Salvar
						button#btn-cancelar.btn.default(type="button") Cancelar
								
block script-footer
	script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_cad-usuario-logado.min.js", type="text/javascript")				