extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro ISS

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-iss.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") ISS

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption

                            span#title-collapse.caption-subject.uppercase Informações ISS
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório

                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!
                    
                    
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-filial.control-label.col-md-2 Filial:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-filial.chosen-select(name="filial", data-label="lb-filial",data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Filial A
                                        option(value="SAO") Filial B
                                        option(value="SAO") Filial C
                                        option(value="SAO") Filial D

                                label#lb-estado.control-label.col-md-2 Estado:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-estado.chosen-select(name="estado", data-label="lb-estado",data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Estado A
                                        option(value="SAO") Estado B
                                        option(value="SAO") Estado C
                                        option(value="SAO") Estado D


                            div.form-group
                                label#lb-cidade.control-label.col-md-2 Cidade:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#lb-cidade.chosen-select(name="cidade", data-label="lb-cidade",data-allow-clear="false")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="SAO") Cidade A
                                        option(value="SAO") Cidade B
                                        option(value="SAO") Cidade C
                                        option(value="SAO") Cidade D

                                label#lb-vigencia.control-label.col-md-3 Vigência a partir de:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigencia.form-control(type="text", placeholder="DD/MM/AAAA", name="vigencia", data-label="lb-vigencia")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                            div.form-group
                                label#lb-baseCalculo.control-label.col-md-2 Base Cálculo %:
                                    span.required *
                                
                                div.col-md-3
                                    input#baseCalculo.form-control.mask-valor(type="text", data-label="lb-baseCalculo", name="baseCalculo", data-required="1")

                                label#lb-aliquota.control-label.col-md-2  Alíquota %:                           
                                    span.required *

                                div.col-md-3
                                    input#aliquota.form-control.mask-valor(type="text", data-label="lb-aliquota", name="aliquota", data-required="1")




            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")   
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript") 
    script(src= diretorioAssets + "/pages/scripts/_cad-iss.min.js", type="text/javascript")