extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Filial
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-filial.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Filial

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações da Filial
                        
                        div.portlet-note.pull-right * Preencha os campos obrigatórios

                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!
                    
                    
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-filial.control-label.col-md-2 Filial:
                                    span.required *
                                
                                div.col-md-3
                                    input#filial.form-control(type="text", name="filial", data-required="1", data-label="lb-filial") 

                                label#lb-cnpj.control-label.col-md-2 CNPJ:
                                    span.required *
                                
                                div.col-md-3
                                    input#cnpj.form-control(type="text", name="cnpj", data-required="1", data-label="lb-cnpj",placeholder="__.___.___/____-__") 


                            div.form-group
                                label#lb-im.control-label.col-md-2 Inscrição Municipal:
                                    
                                
                                div.col-md-3
                                    input#im.form-control(type="text", name="im", data-required="1", data-label="lb-im",maxlength="20") 

                                   
                                label#lb-ie.control-label.col-md-2 Inscrição Estadual:
                                    span.required *
                                
                                div.col-md-3
                                    input#ie.form-control(type="text", name="ie", data-required="1", data-label="lb-ie",maxlength="20") 


                            div.form-group
                                label#lb-nmContrato.control-label.col-md-2 Número do Contrato:
                                    

                                div.col-md-2
                                    input#nmContrato.form-control(type="text", name="nmContrato", data-required="1", data-label="lb-nmContrato", value="201600001",readonly="readonly") 
                                div.col-md-1
                                    input#nmContrato.form-control(type="text", name="nmContrato", data-required="1", data-label="lb-nmContrato", value="01",readonly="readonly") 

                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *

                                div.col-md-3
                                    div
                                        select#status.chosen-select(name="status", data-label="lb-status")
                                            option(value="1", selected="selected") Ativo
                                            option(value="2") Inativo

                                

        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Endereço

                    div.portlet-body
                         div.form-body                               

                            div.form-group.form-group-top-pad
                                label#lb-cep.col-md-2.control-label CEP:
                                    span.required *

                                div.col-md-2
                                    input#cep.form-control(type="text", name="cep", data-required="1", data-label="lb-cep") 

                                button.btn.btn-default.btn-icon-only
                                    i.fa.fa-search

                            div.form-group
                                label#lb-endereco.col-md-2.control-label Endereço:
                                    span.required *

                                div.col-md-3
                                    input#endereco.form-control(type="text", name="endereco", data-required="1", data-label="lb-endereco",maxlength="250") 

                                label#lb-numero.col-md-1.control-label N°:
                                    span.required *
                                div.col-md-1
                                    input#numero.form-control.numero(type="text", name="numero", data-required="1", data-label="lb-numero") 

                                label#lb-complemento.col-md-2.control-label(style="width: 11%;") Complemento:
                                    

                                div.col-md-2
                                    input#complemento.form-control(type="text", name="complemento", data-required="1", data-label="lb-complemento",maxlength="50")


                            div.form-group
                                label#lb-cidade.col-md-2.control-label Estado / Cidade:
                                    span.required *

                                div.col-md-1
                                    select#uf.chosen-select.form-control(name="uf", data-required="1", data-label="lb-cidade")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="1") SP
                                        option(value="2") RJ
                                        option(value="3") ES

                                div.col-md-2
                                    select#cidade.chosen-select.form-control(name="cidade", data-required="1", data-label="lb-cidade")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="1") São Paulo
                                        option(value="2") Rio de Janeiro
                                        option(value="3") Vitória

                                label#lb-complemento.col-md-1.control-label Bairro:
                                    span.required *

                                div.col-md-4
                                    input#bairro.form-control(type="text", name="bairro", data-required="1", data-label="lb-bairro",maxlength="250")



        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações do Contato

                    div.portlet-body
                        div.form-body
                            div.form-group
                                label#lb-nomecontato.control-label.col-md-2 Nome:
                                    span.required *
                                
                                div.col-md-3
                                    input#nomecontato.form-control(type="text", name="nomecontato", data-required="1", data-label="lb-nomecontato",maxlength="250") 

                                label#lb-cargo.control-label.col-md-2 Cargo:
                                    span.required *
                                
                                div.col-md-3
                                    input#cargo.form-control(type="text", name="cargo", data-required="1", data-label="lb-cargo",maxlength="50") 

                            div.form-group
                                label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                    span.required *
                                
                                div.col-md-3
                                    input#telFixo.form-control.mask-telefone(type="text", data-label="lb-telFixo", name="telFixo", data-required="1", placeholder="+55 (__) ____-____")

                                label#lb-ramal.control-label.col-md-2 Ramal:
                                    
                                
                                div.col-md-3
                                    input#ramal.form-control(type="text", name="ramal", data-required="1", data-label="lb-ramal") 

                            div.form-group
                                label#lb-telMovel.control-label.col-md-2 Telefone Celular:

                                div.col-md-3
                                    input#telMovel.form-control.mask-telefone(type="text", data-label="lb-telMovel", name="telMovel", data-required="1", placeholder="+55 (__) ____-____")  

                                label#lb-email.control-label.col-md-2 E-mail:
                                    span.required *
                                
                                div.col-md-3
                                    input#telCelular.form-control(type="text", data-label="lb-email", name="email", data-required="1")

                            div.form-group
                                label#lb-obs.control-label.col-md-2 Observação:
                                    span.required 
                                
                                div.col-md-3
                                    textarea.form-control(name:'obs', rows:5, id:'observacao',maxlength="250")

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-filial.min.js", type="text/javascript")