extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU



block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")



block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Veículo
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            li
                a(href="list-veiculo.html") Veículos
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Cadastro de Veículo
                

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            
            div.col-md-12

                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user.font-dark
                            span#title-collapse.caption-subject.uppercase Informações do Veículo
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!


                            div.form-group
                                label#lb-placa.control-label.col-md-2 Placa:
                                    span.required *
                                
                                div.col-md-3
                                    input#placa.form-control(type="text", name="placa", data-required="1", data-label="lb-placa") 

                                label#lb-chassi.control-label.col-md-2 Chassi:
                                    span.required *
                                
                                div.col-md-3
                                    input#chassi.form-control(type="text", name="chassi", data-required="1", data-label="lb-chassi") 

                            div.form-group
                                label#lb-renavam.control-label.col-md-2 Renavam:
                                
                                div.col-md-3
                                    input#renavam.form-control(type="text", name="renavam", data-required="1", data-label="lb-renavam") 

                                label#lb-marca.control-label.col-md-2 Marca:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="marca", data-label="lb-marca")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Marca 1
                                            option(value="2") Marca 2
                                            option(value="3") Marca 3


                            div.form-group
                                label#lb-modelo.control-label.col-md-2 Modelo:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="modelo", data-label="lb-modelo")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Modelo 1
                                            option(value="2") Modelo 2
                                            option(value="3") Modelo 3

                                label#lb-cor.control-label.col-md-2 Cor:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="cor", data-label="lb-cor")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Vermelho
                                            option(value="2") Amarelo
                                            option(value="3") Azul


                            div.form-group
                                label#lb-tracionador.control-label.col-md-2 &nbsp;
                                    
                                div.col-md-2
                                    div.mt-check-inline
                                        label#checkTRACIONADOR.mt-checkbox
                                            input(name="tracionador", value="", type="checkbox", checked="", data-label="lb-tracionador") 
                                            | Tracionador
                                            span

                                label#lb-tipoveiculo.control-label.col-md-3 Tipo Veículo:
                                    span.required *

                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="tipoveiculo", data-label="lb-tipoveiculo")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Tipo 1
                                            option(value="2") Tipo 2
                                            option(value="3") Tipo 3
                                            
                            
                            div.form-group
                                label#lb-uf.control-label.col-md-2 UF:
                                    span.required *
                                
                                div.col-md-2
                                    div.chosen-responsive
                                        select.chosen-select(name="uf", data-label="lb-uf")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Modelo 1
                                            option(value="2") Modelo 2
                                            option(value="3") Modelo 3

                                label#lb-cidade.control-label.col-md-3 Cidade:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="cidade", data-label="lb-cidade")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Vermelho
                                            option(value="2") Amarelo
                                            option(value="3") Azul



                            div.form-group
                                label#lb-anofabricacao.control-label.col-md-2 Ano Fabr.:
                                    span.required *
                                
                                div.col-md-1
                                    input#anofabricacao.form-control.date-year(type="text", maxlength="4", name="anofabricacao", data-required="1", data-label="lb-anofabricacao") 

                                label#lb-anomodelo.control-label.col-md-1 Ano Modelo:
                                    span.required *
                                
                                div.col-md-1
                                    input#anomodelo.form-control.date-year(type="text", maxlength="4", name="anomodelo", data-required="1", data-label="lb-anomodelo") 
                            
                                
                                label#lb-tipocarga.control-label.col-md-2 Tipo Carga:
                                    span.required *

                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="tipocarga", data-label="lb-tipocarga")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Vermelho
                                            option(value="2") Amarelo
                                            option(value="3") Azul
                            

                            div.form-group.form-group-top-pad

                                label#lb-carroceria.control-label.col-md-2 Carroceria:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="carroceria", data-label="lb-carroceria")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Modelo 1
                                            option(value="2") Modelo 2
                                            option(value="3") Modelo 3

                                label#lb-classificacao.control-label.col-md-3 Classificação da Carroceria:
                                    span.required *
                                
                                div.col-md-2
                                    div.chosen-responsive
                                        select.chosen-select(name="classificacao", data-label="lb-classificacao")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Vermelho
                                            option(value="2") Amarelo
                                            option(value="3") Azul



                            div.form-group
                                label#lb-tiporastreador.control-label.col-md-2 Tipo Rastreador:
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="tiporastreador", data-label="lb-tiporastreador")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Modelo 1
                                            option(value="2") Modelo 2
                                            option(value="3") Modelo 3

                                label#lb-tipotracao.control-label.col-md-2 Tipo Tração:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="tipotracao", data-label="lb-tipotracao")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Vermelho
                                            option(value="2") Amarelo
                                            option(value="3") Azul


                            div.form-group
                                label#lb-combustivel.control-label.col-md-2 Combustível:
                                    span.required *
                                
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(name="combustivel", data-label="lb-combustivel")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Modelo 1
                                            option(value="2") Modelo 2
                                            option(value="3") Modelo 3

                                label#lb-litragem.control-label.col-md-2 Litragem:
                                
                                div.col-md-3
                                    input#litragem.form-control.litragem(type="text", name="litragem", data-required="1", data-label="lb-litragem") 
                            div.form-group
                                label#lb-cubagem.control-label.col-md-2 Cubagem (m³):
                                    span.required *
                                
                                div.col-md-3
                                    input#cubagem.form-control.decimal(type="text", name="cubagem", data-required="1", data-label="lb-cubagem") 



                            div.form-group.form-group-top-pad
                                label#lb-tipoproprietario.control-label.col-md-2 Tipo Proprietário:
                                    span.required *

                                div.col-md-4
                                    div.mt-radio-inline
                                        label#radioORBE.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoproprietario", value="fisica", checked="checked", type="radio") 
                                            | Pessoa Física
                                            span
                                        
                                        label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
                                            input(name="tipoproprietario", value="juridica", type="radio") 
                                            | Pessoa Jurídica
                                            span
                            
                            div.form-group        

                                label#lb-nomeproprietario.control-label.col-md-2 Nome proprietário:
                                    span.required *
                                
                                div.col-md-4
                                    input#nomeproprietario.form-control(type="text", name="nomeproprietario", data-required="1", data-label="lb-renavam", maxlength="18") 

                                label#lb-cpf.control-label.col-md-1 CPF:
                                    span.required *

                                div#col.col-md-3
                                    input#cpf.form-control(type="text", name="cpf", data-required="1", data-label="lb-cpf")     

                            
                            div.form-group        

                                label#lb-dataaquisicao.control-label.col-md-2 Data Aquisição:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#dataaquisicao.form-control(type="text", placeholder="DD/MM/AAAA", name="dataaquisicao", data-label="lb-dataaquisicao")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                            div.form-group
                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *
                                
                                div.col-md-2
                                    div.chosen-responsive
                                        select.chosen-select(name="status", data-label="lb-status")
                                            option(value="", selected="selected") &nbsp; 
                                            option(value="1") Ativo
                                            option(value="2") Inativo


            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar



block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-veiculo.min.js", type="text/javascript")                                            