extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro IRRF
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-irrf.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") IRRF

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações IRRF
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório
                        
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!
                    
                    
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-filial.control-label.col-md-2 Filial:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select#filial.chosen-select(name="filial", data-label="lb-filial",data-allow-clear="false")
                                        option(value="SAO", selected="selected") Filial A
                                        option(value="SAO") Filial B
                                        option(value="SAO") Filial C
                                        option(value="SAO") Filial D

                                label#lb-diaRecolhimento.control-label.col-md-2 Dia de Recolhimento:
                                    span.required *
                                
                                div.col-md-2
                                    input#diaRecolhimento.form-control.dia(type="text", data-label="lb-diaRecolhimento", name="diaRecolhimento", data-required="1")


                            div.form-group


                                label#lb-vigencia.control-label.col-md-2 Vigência a partir de:
                                    span.required *
                                
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigencia.form-control(type="text", placeholder="DD/MM/AAAA", name="vigencia", data-label="lb-vigencia")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                            div.form-group
                                
                                label.control-label.col-md-2 Status:
                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Ativo
                                        option(value="SAO") Inativo
                            div.clearfix

                            fieldset
                                legend Faixas para Cálculo *  

                                    div.form-group

                                        div.col-md-12.form-group-top-pad
                                            table.table.table-striped.table-bordered(style="text-align:center;")
                                                tr
                                                    th(style="text-align:center;") Ativo
                                                    th(style="text-align:center;") Faixa
                                                    th(style="text-align:center;") De
                                                    th(style="text-align:center;") Até
                                                    th(style="text-align:center;") Aliquota %
                                                    th(style="text-align:center;") À Deduzir                                                
                                                tr(align="center")
                                                    td
                                                        input#chk1(value="",type="checkbox")
                                                    td
                                                        label#faixa1.display-hide Faixa 1
                                                    td
                                                        input#de1.mask-money.display-hide(type="text", name="de1", data-label="lb-de1")
                                                    td
                                                        input#ate1.mask-money.display-hide(type="text", name="ate1", data-label="lb-ate1")
                                                    td
                                                        input#aliquota1.mask-valor.display-hide(type="text", name="aliquota1", data-label="lb-aliquota1")
                                                    td
                                                        input#deduzir1.mask-money.display-hide(type="text", name="deduzir1", data-label="lb-deduzir1")                                   
                                                tr(align="center")
                                                    td
                                                        input#chk2(value="",type="checkbox")
                                                    td
                                                        label#faixa2.display-hide Faixa 2
                                                    td
                                                        input#de2.mask-money.display-hide(type="text", name="de2", data-label="lb-de2")
                                                    td
                                                        input#ate2.mask-money.display-hide(type="text", name="ate2", data-label="lb-ate2")
                                                    td
                                                        input#aliquota2.mask-valor.display-hide(type="text", name="aliquota2", data-label="lb-aliquota2")
                                                    td
                                                        input#deduzir2.mask-money.display-hide(type="text", name="deduzir2", data-label="lb-deduzir2") 
                                                tr(align="center")
                                                    td
                                                        input#chk3(value="",type="checkbox")
                                                    td
                                                        label#faixa3.display-hide Faixa 3
                                                    td
                                                        input#de3.mask-money.display-hide(type="text", name="de3", data-label="lb-de3")
                                                    td
                                                        input#ate3.mask-money.display-hide(type="text", name="ate3", data-label="lb-ate3")
                                                    td
                                                        input#aliquota3.mask-valor.display-hide(type="text", name="aliquota3", data-label="lb-aliquota3")
                                                    td
                                                        input#deduzir3.mask-money.display-hide(type="text", name="deduzir3", data-label="lb-deduzir3") 
                                                tr(align="center")
                                                    td
                                                        input#chk4(value="",type="checkbox")
                                                    td
                                                        label#faixa4.display-hide Faixa 4
                                                    td
                                                        input#de4.mask-money.display-hide(type="text", name="de4", data-label="lb-de4")
                                                    td
                                                        input#ate4.mask-money.display-hide(type="text", name="ate4", data-label="lb-ate4")
                                                    td
                                                        input#aliquota4.mask-valor.display-hide(type="text", name="aliquota4", data-label="lb-aliquota4")
                                                    td
                                                        input#deduzir4.mask-money.display-hide(type="text", name="deduzir4", data-label="lb-deduzir4") 
                                                tr(align="center")
                                                    td
                                                        input#chk5(value="",type="checkbox")
                                                    td
                                                        label#faixa5.display-hide Faixa 5
                                                    td
                                                        input#de5.mask-money.display-hide(type="text", name="de5", data-label="lb-de5")
                                                    td
                                                        input#ate5.mask-money.display-hide(type="text", name="ate5", data-label="lb-ate5")
                                                    td
                                                        input#aliquota5.mask-valor.display-hide(type="text", name="aliquota5", data-label="lb-aliquota5")
                                                    td
                                                        input#deduzir5.mask-money.display-hide(type="text", name="deduzir5", data-label="lb-deduzir5") 
                                                tr(align="center")
                                                    td
                                                        input#chk6(value="",type="checkbox")
                                                    td
                                                        label#faixa6.display-hide Faixa 6
                                                    td
                                                        input#de6.mask-money.display-hide(type="text", name="de6", data-label="lb-de6")
                                                    td
                                                        input#ate6.mask-money.display-hide(type="text", name="ate6", data-label="lb-ate6")
                                                    td
                                                        input#aliquota6.mask-valor.display-hide(type="text", name="aliquota6", data-label="lb-aliquota6")
                                                    td
                                                        input#deduzir6.mask-money.display-hide(type="text", name="deduzir6", data-label="lb-deduzir6") 


            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")   
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript") 
    script(src= diretorioAssets + "/pages/scripts/_cad-irrf.min.js", type="text/javascript")