extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU


block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right
		| Controle de Acesso

	div.page-bar
		ul.page-breadcrumb
			li
				i.icon-home
				a(href="index.html") Início
				i.fa.fa-angle-right
			
			li
				a(href="#") Controle de Acesso
			
	div.row
		div.col-md-12
			div.portlet.light.portlet-shadow
				div.portlet-title
					div.caption
						i.fa.fa-search
						span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa
					
					div.actions
						a#icon-collapse.btn.btn-circle.btn-icon-only.btn-default.fa.fa-chevron-down(href="javascript:;")
					
				div#portlet-body-search.portlet-body
					div.col-md-12
						form#form_sample_3.form-horizontal(action="#")
							div.form-body
								div.form-group
									label.control-label.col-md-2 Tipo de Acesso:
										span.required *
									
									div.col-md-3
										div.mt-radio-inline
											label#radioORBE.mt-radio(style="margin-bottom:0;")
												input(name="optionsRadios" type="radio" checked="") 
												| ORBE
												span
											
											label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
												input(name="optionsRadios", value="", type="radio") 
												| Embarcador
												span
											
									label.control-label.col-md-2 Embarcador:
										span.required *
									
									div.col-md-3
										select.chosen-select(name="embarcador", data-label="lb-embarcador")
											option(value="") SELECIONE
											option(value="1") GERDAU
											option(value="2") OUTRO
										
								div.form-group
									label.control-label.col-md-2 Perfil:
										span.required *
									
									div.col-md-3
										select.form-control.chosen-select(name="perfil", data-allow-clear="false")
											option(value="0") SELECIONE
											option(value="1") Administrador
											option(value="2") Financeiro
										
									label.control-label.col-md-2 Módulo:
										span.required *
									
									div.col-md-3
										select.form-control.chosen-select(name="modulo", data-allow-clear="false")
											option(value="0") SELECIONE
											option(value="1") Cadastro
											option(value="2") Operações
											option(value="3") Relatorios

								div.form-group
									div.col-md-12
										hr
										div.pull-right
											button#btn-buscar.btn.sbold.blue(type="button", style="margin-right:10px;") Buscar
												i.fa.fa-filter
											
								div.clearfix
							
					div.clearfix
				
				div.clearfix
			
	
	div#pnPesquisa.row(style="display:none;")
		div.col-md-12
			
			div.portlet.light.portlet-shadow
				div.portlet-title
					div.caption
						i.icon-settings
						span.caption-subject.uppercase Controle de Acesso
					
				div.portlet-body
					div.col-md-12
						div.table-toolbar
							div.row
								div.col-md-6
									div.btn-group
								
								div.col-md-6
									div.btn-group.pull-right
										button.btn.green.dropdown-toggle(data-toggle="dropdown", aria-expanded="false") Exportar
											i.fa.fa-angle-down
										
										ul.dropdown-menu.pull-right
											li
												a(href="javascript:;")
													i.fa.fa-file-pdf-o 
													| Exportar para PDF
											
											li
												a(href="javascript:;")
													i.fa.fa-file-excel-o
													| Exportar para Excel
											
						table.table.table-striped.table-bordered.table-hover.table-checkable.order-column
							thead
								tr
									th Módulo
									th Menu
									th.text-center(align="center") &nbsp;
								
							tbody
								tr.odd.gradeX
									td Cadastro
									td Cadastro de Veiculos
									td(align="center")
										label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
											input.checkboxes(type="checkbox", value="1")
											span
										
								tr.odd.gradeX
									td Cadastro
									td Cadastro de Motorista
									td(align="center")
										label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
											input.checkboxes(type="checkbox", value="1")
											span
										
								tr.odd.gradeX
									td Cadastro
									td Cadastro de Usuários
									td(align="center")
										label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
											input.checkboxes(type="checkbox",value="1")
											span
										
								tr.odd.gradeX
									td Cadastro
									td Cadastro de Perfil
									td(align="center")
										label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
											input.checkboxes(type="checkbox", value="1")
											span
										
								tr.odd.gradeX
									td Cadastro
									td Cadastro de Acessos
									td(align="center")
										label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
											input.checkboxes(type="checkbox", value="1")
											span
					div.clearfix
				
			div.form-body
				div.col-md-12
					div.pull-right
						button.btn.green(type="submit") Salvar
						button#btn-cancelar.btn.default(type="button") Cancelar

block script-footer
	script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_cad-controle-acesso.min.js", type="text/javascript")				