extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Cadastro de Filial Serviço
        button#bt-tour.btn.btn-icon(style="background:none;")
            a.icon-question

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-filial-servico.html") Consulta
                i.fa.fa-angle-right

            li
                a(href="javascript:;") Cadastro de Filial Serviço

    // Modal de Copiar Configurações
    div#modal-vincular.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog(role="document", style="width:750px")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    
                    h4.modal-title Selecionar Filiais
                
                div.modal-body
                    div.row
                        div.col-md-12
                            div.form-group
                        
                                div.col-md-3

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 1
                                            span
                                        
                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 2
                                            span

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 3
                                            span

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 4
                                            span

                                div.col-md-3

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 1
                                            span
                                        
                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 2
                                            span

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 3
                                            span

                                    div.mt-checkbox
                                        label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="checkbox") 
                                            | Filial 4
                                            span
               
                div.modal-footer
                    button#btn-salvar-modal.btn.btn-primary.green(type="button", data-dismiss="modal") Salvar
                    button.btn.btn-default(type="button", data-dismiss="modal") Fechar
     // FIM - Modal de Copiar Configurações  

    form#form.form-horizontal(action="#", novalidate="novalidate")     
        div.row
            div.col-md-12
              
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Cadastro de Filial  Serviço
                        
                        div.portlet-note.pull-right * Preenchimento obrigatório

                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Para salvar as informações de cobrança o campo Valor e os de Vigência devem ser informados.

                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Salvo com sucesso!

                    div.portlet-body
                        div.form-body
                            div.form-group
                                label.col-md-1.control-label(style="font-size: 20px") Filial:

                                label.col-md-1.control-label(style="font-size: 20px") Filial A                                
                                
                                label.col-md-5.control-label(style="font-size: 20px") Prestador de Serviço:

                                label.col-md-1.control-label(style="font-size: 20px") Pamcary
                                    

        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.fa.fa-warning
                            span#title-collapse.caption-subject.uppercase Gerenciado de Riscos *
       
                    div.portlet-body
                        div.form-body(style="padding-top:0px;")
                            div.form-group
                                label.col-md-6.control-label(style="font-size: 9px") Serviço obrigatório, deve possuir um valor de cobrança com vigência que contemple a data de execução do serviço.
                            div.form-group
                                label.col-md-4.control-label(style="font-size: 9px") Não preenchimento implicará no impedimento da realização da operação.
                            div.form-group   

                                table.table.table-striped.table-bordered
                                    tr
                                        th(width="5%") Status
                                        th(width="30%") Tipo de Cobrança
                                        th(width="20%") Valor
                                        th(width="20%") Vigência de
                                        th(width="20%") Vigência  Até
                                        th(width="5%", align="center")

                                    tr
                                        td Ativo
                                        td Valor Fixo Mensal
                                        td
                                            input.form-control(type="text",value="R$1500,00", readonly="readonly")                                         
                                        td 
                                            input.form-control(type="text",value="01/07/2016", readonly="readonly") 
                                        td 
                                            input.form-control(type="text",value="30/11/2016", readonly="readonly") 
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar 
                                    tr
                                        td Inativo
                                        td Valor Fixo Mensal
                                        td
                                            input.form-control(type="text",value="R$1500,00", readonly="readonly")                                         
                                        td 
                                            input.form-control(type="text",value="01/07/2016", readonly="readonly") 
                                        td 
                                            input.form-control(type="text",value="30/11/2016", readonly="readonly") 
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar 
                                    
                                    tr
                                        td Ativo
                                        td Valor Fixo Mensal
                                        td 
                                            input#fixomensal.form-control.mask-money(type="text", name="fixomensal", data-label="lb-fixomensal") 
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigeciade.form-control(type="text", placeholder="DD/MM/AAAA", name="vigeciade", data-label="lb-vigeciade")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigenciaate.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciaate", data-label="lb-vigenciaate")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar 

                                    tr
                                        td Ativo
                                        td Valor Fixo por Transação
                                        td 
                                            input#money2.form-control.mask-money(type="text", name="money2", data-label="lb-money2")
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigenciade2.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciade2", data-label="lb-vigenciade2")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigenciate2.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciate2", data-label="lb-vigenciate2")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar 

        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.fa.fa-credit-card
                            span#title-collapse.caption-subject.uppercase Meio de Pagamentos *
       
                    div.portlet-body
                        div.form-body(style="padding-top:0px;")
                            div.form-group
                                label.col-md-6.control-label(style="font-size: 9px") Serviço obrigatório, deve possuir um valor de cobrança com vigência que contemple a data de execução do serviço.
                            div.form-group
                                label.col-md-4.control-label(style="font-size: 9px") Não preenchimento implicará no impedimento da realização da operação.

                            div.form-group   
                                table.table.table-striped.table-bordered
                                    tr
                                        th(width="5%") Status
                                        th(width="30%") Cobrança
                                        th(width="20%") Valor
                                        th(width="20%") Vigência de
                                        th(width="20%") Vigência  Até
                                        th(width="5%", align="center")
                                    
                                    tr
                                        td Ativo
                                        td Valor Fixo Mensal
                                        
                                        td 
                                            input#money3.form-control.mask-money(type="text", name="money3", data-label="lb-money3") 
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigenciade3.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciade3", data-label="lb-vigenciade3")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td 
                                             div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#vigenciaate3.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciaate3", data-label="lb-vigenciaate3")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar                                       
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar 

                                    tr
                                        td Ativo
                                        td Valor Fixo por Transação
                                           
                                        td 
                                            input#money4.form-control.mask-money(type="text", name="money4", data-label="lb-money4")
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#datavigencia4.form-control(type="text", placeholder="DD/MM/AAAA", name="datavigencia4", data-label="lb-datavigencia4")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td 
                                            div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                                input#dataate4.form-control(type="text", placeholder="DD/MM/AAAA", name="dataate4", data-label="lb-dataate4")
                                                span.input-group-btn
                                                    button.btn.default(type="button")
                                                        i.fa.fa-calendar
                                        td(align="center")
                                            div.btn-group
                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                    i.fa.fa-angle-down
                                                
                                                ul.dropdown-menu.pull-right(role="menu")
                                                    li
                                                        a(href="javascript:;")
                                                            i.fa.fa-toggle-on Inativar  


            div.form-body
                div.col-md-12
                    div.pull-right
                        button#btn-modal.btn.default(type="button") Copiar Configurações
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/pages/scripts/_cad-filial-servico.min.js", type="text/javascript")