extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-fileinput/fileinput.min.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Cadastro Pedidos
    
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right

            li
                a(href="list-captacao.html") Consulta Pedidos 
                i.fa.fa-angle-right
            
            li
                a(href="#") Cadastro Pedidos


    // Modal de edição do pedido
    div#modal-edit.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog(role="document", style="width:550px")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Edição de Pedido
    
                div.modal-body.form-horizontal
                    div.row
                        div.col-md-12
                            div.form-group.clearfix
                                label.col-md-4.control-label Pedido
                                div.col-md-4 
                                    input.form-control(type="text", readonly="readonly")

                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 Dt. Coleta:
                                
                                div.col-md-4
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#dtprevisaocarga.form-control(type="text", placeholder="DD/MM/AAAA", name="dtnascimento", data-label="lb-dtprevisaocarga")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 Tipo Veículo:

                                div.col-md-6
                                    div.chosen-responsive
                                        select.chosen-select
                                            option(value="1") Tipo1
                                            option(value="2") Tipo2
                                            option(value="3") Tipo3
                                            option(value="4") Tipo4
                                            option(value="5") Tipo5

                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 Tipo Carroceria:

                                div.col-md-6
                                    div.chosen-responsive
                                        select.chosen-select
                                            option(value="1") Tipo1
                                            option(value="2") Tipo2
                                            option(value="3") Tipo3
                                            option(value="4") Tipo4
                                            option(value="5") Tipo5

                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 Tipo Produto:

                                div.col-md-6
                                    div.chosen-responsive
                                        select.chosen-select
                                            option(value="1") Tipo1
                                            option(value="2") Tipo2
                                            option(value="3") Tipo3
                                            option(value="4") Tipo4
                                            option(value="5") Tipo5

                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 Tipo Tarifa:

                                div.col-md-6
                                    div.chosen-responsive
                                        select.chosen-select
                                            option(value="1") Tipo1
                                            option(value="2") Tipo2
                                            option(value="3") Tipo3
                                            option(value="4") Tipo4
                                            option(value="5") Tipo5


                            div.form-group.clearfix
                                label#lb-dtprevisaocarga.control-label.col-md-4 valor Frete:

                                div.col-md-4
                                    input.form-control(type="text")

                            div.clearfix
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Fechar
                    button.btn.btn-primary(type="button") Salvar Alteração
    
    // FIM - Modal de edição do pedido        

    form#form-planejamento.form.form-horizontal
        div.row
            div.col-md-12
                div.portlet.light.portlet-shadow
                    div.portlet-title
                        div.caption
                            span.caption-subject Inserção de Pedidos
                        
                    div.portlet-body
                        div.form-group.clearfix
                            label.control-label.col-md-2 Filial:

                            div.col-md-3
                                div.chosen-responsive
                                    select#filial.chosen-select(name="filial", data-label="lb-filial")
                                        option(value="", selected="") &nbsp;
                                        option(value="1") Filial 1
                                        option(value="2") Filial 2
                                        option(value="3") Filial 3

                        div.form-group.clearfix
                            div.col-md-6.col-md-offset-1
                                div.mt-radio-inline
                                    label#radioUPLOAD.mt-radio(style="margin-bottom:0;")
                                        input(name="optionsRadios", value="", type="radio")
                                        | Upload de Arquivo (csv)
                                        span
                                    
                                    label#radioMANUAL.mt-radio(style="margin-bottom:0;")
                                        input(name="optionsRadios", value="", type="radio")
                                        | Digitação Manual
                                        span

                        // Painel de digitação manual
                        div.pn-manual.display-hide
                            div.form-group.clearfix
                                label#nrPedido.control-label.col-md-2 Nr Pedido:
                                    span.required *
                                div.col-md-3
                                    input#nrPedido.form-control.mask-numero-pedido(type="text",name="nrPedido",data-label="lb-nrPedido")


                                label#previsaoColeta.control-label.col-md-2 Dt Previsão Coleta:
                                    span.required *
                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#dtprevisaocarga.form-control(type="text", placeholder="DD/MM/AAAA", name="previsaoColeta", data-label="lb-previsaoColeta")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar


                            div.form-group.clearfix
                                label#pesoTON.control-label.col-md-2 Peso TON:
                                    span.required *
                                div.col-md-3
                                    input#pesoTON.form-control.mask-tonelada(name="pesoTON",data-label="lb-pesoTON",type="text")


                                label#cubagem.control-label.col-md-2 Cubagem:
                                    span.required *
                                div.col-md-3
                                    input#cubagem.form-control.mask-numero(name="cubagem",data-label="lb-cubagem",type="text")

                            
                            div.form-group.clearfix
                                label#tipoProduto.control-label.col-md-2 Tipo de Produto:
                                    span.required *
                                div.col-md-3
                                    div.chosen-responsive
                                        select#tipoProduto.chosen-select(name="tipoProduto", data-label="lb-tipoProduto")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") Aço
                                            option(value="2") Alumínio
                                            option(value="3") Grão

                                label#nroPedidoCliente.control-label.col-md-2 Nro Pedido Cliente:
                                    span.required *
                                div.col-md-3
                                    input#nroPedidoCliente.form-control.mask-pedido(name="nroPedidoCliente",data-label="lb-nroPedidoCliente",type="text")

                            fieldset
                                legend Origem

                                div.form-group.clearfix
                                    label#cnpjOrigem.control-label.col-md-2 CNPJ:
                                        span.required *
                                    div.col-md-2
                                        input#cnpjOrigem.form-control.cnpj(name="cnpjOrigem",data-label="lb-cnpjOrigem",type="text",placeholder="__.___.___/____-__")                                    

                                    label#razaoSocialOrigem.control-label.col-md-2 Razão Social:
                                        span.required *
                                    div.col-md-4
                                        div#razaoSocialOrigem.chosen-responsive
                                            select#razaoSocialOrigem.chosen-select(name="razaoSocialOrigem", data-label="lb-razaoSocialOrigem")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") Gerdau - Araraquara
                                                option(value="2") Gerdau - Bauru
                                                option(value="3") Gerdau - São José dos Campos

                                    div.col-md-1(style="padding-left:0; padding-top:5px")
                                        a.btn.btn-xs(href="cad-empresa.html", target="_blank") + NOVO

                                        

                                div.form-group.clearfix
                                    label#cepOrigem.control-label.col-md-2 CEP:
                                        span.required *
                                    div.col-md-2
                                        input#cepOrigem.form-control.mask-cep(name="cepOrigem",data-label="lb-cepOrigem",type="text")

                                div.form-group.clearfix
                                    label#enderecoOrigem.control-label.col-md-2 Endereço:
                                        span.required *
                                    div.col-md-5
                                        input#enderecoOrigem.form-control(name="enderecoOrigem",data-label="lb-enderecoOrigem",type="text",maxlength="250") 

                                    label#numeroOrigem.control-label.col-md-1 Número:
                                        span.required *
                                    div.col-md-1
                                        input#numeroOrigem.form-control.mask-cep-numero(name="numeroOrigem",data-label="lb-numeroOrigem",type="text")

                                div.form-group.clearfix
                                    label#bairroOrigrem.control-label.col-md-2 Bairro:
                                        span.required *
                                    div.col-md-3
                                        input#bairroOrigem.form-control(name="bairroOrigem",type="text",data-label="lb-bairroOrigem",maxlength="250")

                                    label.col-md-2.control-label Complemento:
                                    
                                    div.col-md-3
                                        input.form-control(type="text",maxlength="250")

                                div.form-group.clearfix
                                    label#ufOrigem.control-label.col-md-2 Cidade/UF:
                                        span.required *
                                    div.col-md-1
                                        div.chosen-responsive
                                            select#ufOrigem.chosen-select(name="ufOrigem", data-label="lb-ufOrigem")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") SP
                                                option(value="2") RJ
                                                option(value="3") ES
                                    
                                    div.col-md-7
                                        div.chosen-responsive
                                            select#cidadeOrigem.chosen-select(name="cidadeOrigem", data-label="lb-cidadeOrigem")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") São Paulo
                                                option(value="2") Rio de Janeiro
                                                option(value="3") Vitória

                            fieldset
                                legend Destino

                                div.form-group.clearfix
                                    label#cnpjDestino.control-label.col-md-2 CNPJ:
                                        span.required *
                                    div.col-md-2
                                        input#cnpjDestino.form-control.cnpj(type="text", name="cnpjDestino", data-required="1", data-label="lb-cnpjDestino",placeholder="__.___.___/____-__")                                 

                                    label#razaoSocialDestino.control-label.col-md-2 Razão Social:
                                        span.required *
                                    div.col-md-4
                                        div.chosen-responsive
                                            select#razaoSocialDestino.chosen-select(name="razaoSocialDestino", data-label="lb-razaoSocialDestino")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") Gerdau - Araraquara
                                                option(value="2") Gerdau - Bauru
                                                option(value="3") Gerdau - São José dos Campos
                                    
                                    div.col-md-1(style="padding-left:0; padding-top:5px")
                                        a.btn.btn-xs(href="cad-filial.html", target="_blank") + NOVO

                                div.form-group.clearfix
                                    label#cepDestino.control-label.col-md-2 CEP:
                                        span.required *
                                    div.col-md-2
                                        input#cepDestino.form-control.mask-cep(name="cepDestino",data-label="lb-cepDestino",type="text")

                                div.form-group.clearfix
                                    label#enderecoDestino.control-label.col-md-2 Endereço:
                                        span.required *
                                    div.col-md-5
                                        input#enderecoDestino.form-control(name="enderecoDestino",data-label="lb-enderecoDestino",type="text",maxlength="250") 

                                    label#numeroDestino.control-label.col-md-1 Número:
                                        span.required *
                                    div.col-md-1
                                        input#numeroDestino.form-control.mask-cep-numero(name="numeroDestino",data-label="lb-numeroDestino",type="text")

                                div.form-group.clearfix
                                    label#bairroDestino.control-label.col-md-2 Bairro:
                                        span.required *
                                    div.col-md-3
                                        input#bairroDestino.form-control(name="bairroDestino",data-label="lb-bairroDestino",type="text",maxlength="250")

                                    label.col-md-2.control-label Complemento:
                                    
                                    div.col-md-3
                                        input.form-control(type="text",maxlength="250")

                                div.form-group.clearfix
                                    label.control-label.col-md-2 Cidade/UF:
                                        span.required *
                                    div.col-md-1
                                        div.chosen-responsive
                                            select#ufDestino.chosen-select(name="ufDestino", data-label="lb-ufDestino")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") SP
                                                option(value="2") RJ
                                                option(value="3") ES
                                    
                                    div.col-md-7
                                        div.chosen-responsive
                                            select#cidadeDestino.chosen-select(name="cidadeDestino", data-label="lb-cidadeDestino")
                                                option(value="", selected="") &nbsp;
                                                option(value="1") São Paulo
                                                option(value="2") Rio de Janeiro
                                                option(value="3") Vitória

                            fieldset
                                legend Cliente

                                div.form-group.clearfix
                                    div.col-md-6.col-md-offset-1
                                        div.mt-radio-inline
                                            label#radioOrigem.mt-radio(style="margin-bottom:0;")
                                                input(name="optionsRadios", value="", type="radio")
                                                | Origem
                                                span
                                            
                                            label#radioDestino.mt-radio(style="margin-bottom:0;")
                                                input(name="optionsRadios", value="", type="radio")
                                                | Destino
                                                span

                                            label#radioOutro.mt-radio(style="margin-bottom:0;")
                                                input(name="optionsRadios", value="", type="radio")
                                                | outro
                                                span

                                div#clienteOutro.form-group.display-hide
                                    div.form-group.clearfix
                                        label#cnpjDestino.control-label.col-md-2 CNPJ:
                                            span.required *
                                        div.col-md-2
                                            input#cnpjDestino.form-control.mask-cnpj(name="cnpjDestino",data-label="lb-cnpjDestino",type="text")                                    

                                        label#razaoSocialDestino.control-label.col-md-2 Razão Social:
                                            span.required *
                                        div.col-md-4
                                            div.chosen-responsive
                                                select#razaoSocialDestino.chosen-select(name="razaoSocialDestino", data-label="lb-razaoSocialDestino")
                                                    option(value="", selected="") &nbsp;
                                                    option(value="1") Gerdau - Araraquara
                                                    option(value="2") Gerdau - Bauru
                                                    option(value="3") Gerdau - São José dos Campos

                                    div.form-group.clearfix
                                        label#cepDestino.control-label.col-md-2 CEP:
                                            span.required *
                                        div.col-md-2
                                            input#cepDestino.form-control.mask-cep(name="cepDestino",data-label="lb-cepDestino",type="text")

                                    div.form-group.clearfix
                                        label#enderecoDestino.control-label.col-md-2 Endereço:
                                            span.required *
                                        div.col-md-5
                                            input#enderecoDestino.form-control(name="enderecoDestino",data-label="lb-enderecoDestino",type="text") 

                                        label#numeroDestino.control-label.col-md-1 Número:
                                            span.required *
                                        div.col-md-1
                                            input#numeroDestino.form-control(name="numeroDestino",data-label="lb-numeroDestino",type="text")

                                    div.form-group.clearfix
                                        label#bairroDestino.control-label.col-md-2 Bairro:
                                            span.required *
                                        div.col-md-3
                                            input#bairroDestino.form-control(name="bairroDestino",data-label="lb-bairroDestino",type="text")

                                        label.col-md-2.control-label Complemento:
                                        
                                        div.col-md-3
                                            input.form-control(type="text")

                                    div.form-group.clearfix
                                        label.control-label.col-md-2 Cidade/UF:
                                            span.required *
                                        div.col-md-1
                                            div.chosen-responsive
                                                select#ufDestino.chosen-select(name="ufDestino", data-label="lb-ufDestino")
                                                    option(value="", selected="") &nbsp;
                                                    option(value="1") SP
                                                    option(value="2") RJ
                                                    option(value="3") ES
                                        
                                        div.col-md-7
                                            div.chosen-responsive
                                                select#cidadeDestino.chosen-select(name="cidadeDestino", data-label="lb-cidadeDestino")
                                                    option(value="", selected="") &nbsp;
                                                    option(value="1") São Paulo
                                                    option(value="2") Rio de Janeiro
                                                    option(value="3") Vitória

                                div#clienteOrigem.form-group.display-hide
                                    div.form-group.clearfix
                                        label#cnpjDestino.control-label.col-md-2 CNPJ:

                                        div.col-md-2
                                            input#cnpjDestino.form-control.mask-cnpj(name="cnpjDestino",data-label="lb-cnpjDestino",type="text",readonly="readonly")                                    

                                        label#razaoSocialDestino.control-label.col-md-2 Razão Social:

                                        div.col-md-4
                                            div.chosen-responsive
                                                input#razaoSocialDestino.form-control.mask-cnpj(name="razaoSocialDestino",data-label="lb-razaoSocialDestino",type="text",readonly="readonly")  

                                    div.form-group.clearfix
                                        label#cepDestino.control-label.col-md-2 CEP:

                                        div.col-md-2
                                            input#cepDestino.form-control.mask-cep(name="cepDestino",data-label="lb-cepDestino",type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label#enderecoDestino.control-label.col-md-2 Endereço:

                                        div.col-md-5
                                            input#enderecoDestino.form-control(name="enderecoDestino",data-label="lb-enderecoDestino",type="text",readonly="readonly") 

                                        label#numeroDestino.control-label.col-md-1 Número:

                                        div.col-md-1
                                            input#numeroDestino.form-control(name="numeroDestino",data-label="lb-numeroDestino",type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label#bairroDestino.control-label.col-md-2 Bairro:

                                        div.col-md-3
                                            input#bairroDestino.form-control(name="bairroDestino",data-label="lb-bairroDestino",type="text",readonly="readonly")

                                        label.col-md-2.control-label Complemento:
                                        
                                        div.col-md-3
                                            input.form-control(type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label.control-label.col-md-2 Cidade/UF:

                                        div.col-md-1
                                            input.form-control.mask-cnpj(type="text",readonly="readonly")  
                                        
                                        div.col-md-7
                                            input.form-control.mask-cnpj(type="text",readonly="readonly") 

                                div#clienteDestino.form-group.display-hide
                                    div.form-group.clearfix
                                        label#cnpjDestino.control-label.col-md-2 CNPJ:

                                        div.col-md-2
                                            input#cnpjDestino.form-control.mask-cnpj(name="cnpjDestino",data-label="lb-cnpjDestino",type="text",readonly="readonly")                                    

                                        label#razaoSocialDestino.control-label.col-md-2 Razão Social:

                                        div.col-md-4
                                            div.chosen-responsive
                                                input#razaoSocialDestino.form-control.mask-cnpj(name="razaoSocialDestino",data-label="lb-razaoSocialDestino",type="text",readonly="readonly")  

                                    div.form-group.clearfix
                                        label#cepDestino.control-label.col-md-2 CEP:

                                        div.col-md-2
                                            input#cepDestino.form-control.mask-cep(name="cepDestino",data-label="lb-cepDestino",type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label#enderecoDestino.control-label.col-md-2 Endereço:

                                        div.col-md-5
                                            input#enderecoDestino.form-control(name="enderecoDestino",data-label="lb-enderecoDestino",type="text",readonly="readonly") 

                                        label#numeroDestino.control-label.col-md-1 Número:

                                        div.col-md-1
                                            input#numeroDestino.form-control(name="numeroDestino",data-label="lb-numeroDestino",type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label#bairroDestino.control-label.col-md-2 Bairro:

                                        div.col-md-3
                                            input#bairroDestino.form-control(name="bairroDestino",data-label="lb-bairroDestino",type="text",readonly="readonly")

                                        label.col-md-2.control-label Complemento:
                                        
                                        div.col-md-3
                                            input.form-control(type="text",readonly="readonly")

                                    div.form-group.clearfix
                                        label.control-label.col-md-2 Cidade/UF:

                                        div.col-md-1
                                            input.form-control.mask-cnpj(type="text",readonly="readonly")  
                                        
                                        div.col-md-7
                                            input.form-control.mask-cnpj(type="text",readonly="readonly") 



                        //Painel de upload de arquivo CSV
                        div.pn-upload.display-hide
                            
                            div.form-group.clearfix
                                label.control-label.col-md-2.col-md-offset-1 Selecione seu arquivo:

                                div.col-md-5
                                    input#upload(type="file")

                                div.col-md-1
                                    button#btn-enviar.btn.btn-primary(type="button") Enviar

                            
                            div#pn-pedidos-incluidos.form-group.clearfix.display-hide
                                div.col-md-12
                                    fieldset
                                        legend Pedidos inseridos

                                        table.table.table-stripped.table-bordered
                                            thead
                                                tr
                                                    th Nr Pedido
                                                    th Origem
                                                    th Destino
                                                    th Dt Previsão Carga
                                                    th Tipo de Produto
                                                    th Tipo de Veículo
                                                    th Tipo Carroceria
                                                    th Tipo de Tarifa
                                                    th Valor Frete
                                                    th Qtde. (Ton)
                                                    th
                                            tbody
                                                - for (var i=0; i<10; i++)
                                                    tr
                                                        td= i
                                                        td Sorocaba
                                                        td Rio de Janeiro
                                                        td 15/11/2016
                                                        td Aço
                                                        td VUC
                                                        td 3x3
                                                        td <tipo>
                                                        td 2500,00
                                                        td 250
                                                        td 
                                                            div.btn-group
                                                                button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                                    i.fa.fa-angle-down
                                                            
                                                                ul.dropdown-menu.pull-right(role="menu")
                                                                    li
                                                                        a.lnk-editar(href="javascript:;")
                                                                            i.fa.fa-pencil 
                                                                            | Editar / Visualizar 
                                                                    li
                                                                        a.lnk-editar(href="javascript:;")
                                                                            i.fa.fa-remove 
                                                                            | Excluir


                                                            
                                                        

                                
        div.row
            div.col-md-6.col-md-offset-6
                div.pull-right
                    button.btn.btn-success.green(type="submit") Gravar Pedidos
                    button#btn-cancelar.btn.btn-default(type="button") Cancelar
    

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js", type="text/javascript")    
    script(src= diretorioAssets + "/global/plugins/bootstrap-fileinput/fileinput.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-fileinput/locales/pt-BR.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-captacao.min.js", type="text/javascript")