extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-fileinput/fileinput.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page
    div.form-group
        div.col-md-4
            h1.page-title
                i.fa.fa-angle-double-right 
                | &nbsp;Cadastro de Embarcador

            div.page-bar
                ul.page-breadcrumb
                    li
                        i.icon-home
                        a(href="index.html") Início
                        i.fa.fa-angle-right
                    li
                        a(href="list-pesquisa-embarcador.html") Consulta
                        i.fa.fa-angle-right
                        
                    li
                        a(href="#") Embarcador
        div.col-md-4
        div.col-md-4(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.green
                div.visual
                div.details(style="padding-left:40px;")
                    div.desc(style="text-align:left;padding-top:10px;")<b>Atenção!</b> Esse cadastro é global no Orbelog, não se restringe apenas ao embarcador selecionado no cabeçalho.

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            i.icon-user
                            span#title-collapse.caption-subject.uppercase Informações do Embarcador
                        
                        div.portlet-note.pull-right * Preencha os campos obrigatórios
                    
                    
                    div.portlet-body
                        div.form-body
                            div.alert.alert-danger.display-hide
                                button.close(data-close="alert") 
                                | Preencha os campos obrigatórios.
                            div.alert.alert-success.display-hide
                                button.close(data-close="alert")
                                | Validação realizada com sucesso!

                            div.form-group

                                label.control-label.col-md-2 Tipo de Contrato:
                                    span.required *
                                
                                div.col-md-4
                                    div.mt-radio-inline
                                        label#radioORBE.mt-radio(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="radio",checked="checked")
                                            | Gestão ORBE
                                            span
                                        
                                        label#radioEMBARCADOR.mt-radio(style="margin-bottom:0;")
                                            input(name="optionsRadios", value="", type="radio")
                                            | Gestão EMBARCADOR
                                            span


                                label.control-label.col-md-2 Número do Contrato:
                                    span.required *
                                
                                div.col-md-2
                                    input.form-control(type="text", data-label="lb-numero-contrato", value="20160001",readonly="readonly") 

                            div.form-group
                                label#lb-nome.control-label.col-md-2 Razão Social:
                                    span.required *
                                
                                div.col-md-3
                                    input#nome.form-control(type="text", name="nome", data-required="1", data-label="lb-nome",maxlength="250") 

                                label#lb-nmfantasia.control-label.col-md-2 Nome Fantasia:
                                    span.required *
                                
                                div.col-md-3
                                    input#nmfantasia.form-control(type="text", name="nmfantasia", data-required="1", data-label="lb-nmfantasia",maxlength="250") 


                            div.form-group
                                label#lb-cnpj.control-label.col-md-2 CNPJ:
                                    span.required *
                                
                                div.col-md-3
                                    input#cnpj.form-control.mask-cnpj(type="text", name="cnpj", data-required="1", data-label="lb-cnpj",placeholder="__.___.___/____-__") 

                                   
                                label#lb-ie.control-label.col-md-2 Inscrição Estadual:
                                    span.required *                               
                                div.col-md-3
                                    input#ie.form-control.inscricao(type="text", name="ie", data-required="1", data-label="lb-ie") 


                            div.form-group
                                label#lb-im.control-label.col-md-2 Inscrição Municipal:


                                div.col-md-3
                                    input#im.form-control.inscricao(type="text", name="im", data-required="1", data-label="lb-im")

                                label#lb-status.control-label.col-md-2 Status:
                                    span.required *

                                div.col-md-3
                                    div
                                        select#status.chosen-select(name="status", data-label="lb-status")
                                            option(value="1", selected="selected") Ativo
                                            option(value="2") Inativo
                                
                            div.form-group

                                label#lb-inss.control-label.col-md-2 Isenção INSS Patronal:
                                    span.required *

                                div.col-md-3
                                    div
                                        select#inss.chosen-select(name="inss", data-label="lb-inss")
                                            option(value="", selected="selected") &nbsp;
                                            option(value="1") 0110101011
                                            option(value="2") 2002202220


                            div.form-group

                                label.control-label.col-md-2 Logo:

                                div.col-md-4
                                    input#upload(type="file")

                            div.form-group
                                label.control-label.col-md-6(style="font-size:9px;") A imagem deve ter no máximo 180 pixels na horizontal e 35 pixels na vertical.



        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Endereço
                        
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label#lb-cep.col-md-2.control-label CEP:
                                    span.required *

                                div.col-md-2
                                    input#cep.form-control(type="text", name="cep", data-required="1", data-label="lb-cep") 

                                button.btn.btn-default.btn-icon-only
                                    i.fa.fa-search

                            div.form-group
                                label#lb-endereco.col-md-2.control-label Endereço:
                                    span.required *

                                div.col-md-3
                                    input#endereco.form-control(type="text", name="endereco", data-required="1", data-label="lb-endereco",maxlength="250") 

                                label#lb-numero.col-md-1.control-label N°:
                                    span.required *
                                div.col-md-1
                                    input#numero.form-control(type="text", name="numero", data-required="1", data-label="lb-numero") 

                                label#lb-complemento.col-md-2.control-label(style="width: 11%;") Complemento:
                                    

                                div.col-md-2
                                    input#complemento.form-control(type="text", name="complemento", data-required="1", data-label="lb-complemento",maxlength="50")


                            div.form-group
                                label#lb-cidade.col-md-2.control-label Estado / Cidade:
                                    span.required *

                                div.col-md-1
                                    select#uf.chosen-select.form-control(name="uf", data-required="1", data-label="lb-cidade")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="1") SP
                                        option(value="2") RJ
                                        option(value="3") ES

                                div.col-md-2
                                    select#cidade.chosen-select.form-control(name="cidade", data-required="1", data-label="lb-cidade")
                                        option(value="", selected="selected") &nbsp;
                                        option(value="1") São Paulo
                                        option(value="2") Rio de Janeiro
                                        option(value="3") Vitória

                                label#lb-complemento.col-md-1.control-label Bairro:
                                    span.required *

                                div.col-md-4
                                    input#bairro.form-control(type="text", name="bairro", data-required="1", data-label="lb-bairro",maxlength="250")



        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Informações do Contato
       
                    div.portlet-body
                        div.form-body

                                div.form-group
                                    label#lb-nomecontato.control-label.col-md-2 Nome:
                                        span.required *
                                    
                                    div.col-md-3
                                        input#nomecontato.form-control(type="text", name="nomecontato", data-required="1", data-label="lb-nomecontato",maxlength="250") 

                                    label#lb-cargo.control-label.col-md-1 Cargo:
                                        span.required *
                                    
                                    div.col-md-4
                                        input#cargo.form-control(type="text", name="cargo", data-required="1", data-label="lb-cargo",maxlength="50") 

                                div.form-group
                                    label#lb-telFixo.control-label.col-md-2 Telefone Fixo:
                                        span.required *

                                    div.col-md-3.form-inline(style="min-width: 310px;")
                                        input#telFixo.form-control.mask-telefone(style="width:155px;", type="text", name="telFixo", data-label="lb-telFixo", data-required="1", placeholder="+55 (__) ____-____")
                                        label.control-label(style="padding-left:5px; padding-top:0;") Ramal:
                                        input#ramal_fixo.form-control.pull-right(style="width:60px;", type="text", name="ramal_fixo", data-required="1")

                                    label#lb-email.control-label.col-md-1 E-mail:
                                        span.required *
                                    
                                    div.col-md-4
                                        input#email.form-control(type="text", data-label="lb-email", name="email", data-required="1",maxlength="50")

                                div.form-group
                                    label#lb-telMovel.control-label.col-md-2 Telefone Celular:

                                    div.col-md-3
                                        input#telMovel.form-control.mask-telefone(type="text", data-label="lb-telMovel", name="telMovel", data-required="1", placeholder="+55 (__) ____-____")  


                                div.form-group
                                    label#lb-obs.control-label.col-md-2 Observação:
                                        span.required 
                                    
                                    div.col-md-3
                                        textarea.form-control(name:'obs', rows:5, id:'observacao',maxlength="50" )

        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Prestadores de serviço associados
       
                    div.portlet-body
                        div.form-body

                            div.form-group
                                label.control-label.col-md-2 Prestador Serviço:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Selecione
                                        option(value="SAO") Pamcary

                                label#lb-dtnascimento.control-label.col-md-2 Tipo de Serviço:
                                    span.required *
                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Selecione
                                        option(value="SAO") Gerenciamento de Risco
                                        option(value="SAO") Seguro

                                div.col-md-2(style="padding-top:7px;")
                                    div.mt-check-inline
                                        label.mt-checkbox
                                            input(name="obrigatorio", value="", type="checkbox", data-label="lb-obrigatorio") 
                                            | Obrigatorio
                                            span




                            div.form-group
                                label.control-label.col-md-2(style="padding-top:0px;") Número do Contrato<br> (Prestador de Serviço):
                                    span.required *
                                div.col-md-3
                                        input.form-control(type="text", name="numero-contrato")

                                label#lb-dtnascimento.control-label.col-md-2 Vigencia:
                                    span.required *
                                
                                div.col-md-4
                                        div.input-group.input-large.date-picker.input-daterange(data-date="10/11/2012", data-date-format="dd/mm/yyyy")
                                            input.form-control(name="from", type="text")
                                            span.input-group-addon até
                                            input.form-control(name="to", type="text")

                            div.form-group
                                div.col-md-12
                                    div.pull-right
                                        button.btn.green(type="submit") Adicionar

                            div.form-group
                                div.row
                                    div.col-md-12
                                        
                                        div#pnPesquisa.portlet.light.portlet-shadow
                                            div.portlet-body
                                                table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                                                    thead.nowrap
                                                        tr
                                                            th Status 
                                                            th Prestador de Serviço
                                                            th Tipo de Serviço
                                                            th Obrigatório
                                                            th Vigência De 
                                                            th Vigência Até
                                                            th 
                                                    tbody

            div.form-body
                div.col-md-12
                    div.pull-right
                        button.btn.green(type="submit") Salvar
                        button#btn-cancelar.btn.default(type="button") Cancelar
                                                        

block script-footer
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/jquery.validate.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-validation/js/additional-methods.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-fileinput/fileinput.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-fileinput/locales/pt-BR.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-embarcador.min.js", type="text/javascript")