extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU


block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/morris/morris.css", rel="stylesheet", type="text/css")


block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right 
		| &nbsp;Bem vindo a plataforma ORBELog

	div.page-bar
	
	div.row
		div.col-md-3
			div#graphCaptacao
				
		div.col-md-3
			div#graphTacs
				

		div.col-md-3
			a.dashboard-stat.dashboard-stat-v2.red(href="#")
				div.visual
					i.fa.fa-bar-chart
				
				div.details
					div.number
						span(data-counter="counterup", data-value="1349") 1349
					div.desc TACS DISPONÍVEIS
				
		div.col-md-3
			a.dashboard-stat.dashboard-stat-v2.yellow(href="#")
				div.visual
					i.fa.fa-truck
				
				div.details
					div.number
						span(data-counter="counterup", data-value="1349") 1349
					div.desc VIAGENS EM TRÂNSITO
			
	div.row
		div.col-md-12
			hr 

	div.row

		div.col-md-8
			<div id="highchart" style="height:500px;"></div>

		div.col-md-4
			div.form-group
				label Período selecionado
				div.input-group.input-large.date-picker.input-daterange(data-date="10/11/2012", data-date-format="dd/mm/yyyy")
					input.form-control(name="from", type="text")
					span.input-group-addon até
					input.form-control(name="to", type="text")


block script-footer
	script(src= diretorioAssets + "/global/plugins/highcharts/js/highcharts.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/highcharts/js/highcharts-3d.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/highcharts/js/highcharts-more.js", type="text/javascript")

	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")

	script(src= diretorioAssets + "/global/plugins/morris/morris.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/morris/raphael-min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/counterup/jquery.waypoints.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/counterup/jquery.counterup.min.js", type="text/javascript")

	script(src= diretorioAssets + "/pages/scripts/_index.min.js", type="text/javascript")