extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU


block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")


block content-of-page
	div.form-group
		div.col-md-4
			h1.page-title
				i.fa.fa-angle-double-right 
				| &nbsp;Pesquisa de Ocorrência

			div.page-bar
				ul.page-breadcrumb
					li
						i.icon-home
						a(href="index.html") Início
						i.fa.fa-angle-right
						
					li
						a(href="#") Ocorrência
		div.col-md-4
		div.col-md-4(style="height:85px;")
			a.dashboard-stat.dashboard-stat-v2.green
				div.visual
				div.details(style="padding-left:40px;")
					div.desc(style="text-align:left;padding-top:10px;")<b>Atenção!</b> Esse cadastro é global no Orbelog, não se restringe apenas ao embarcador selecionado no cabeçalho.
            
	div.row
		div.col-md-12
            
			div.portlet.light.portlet-shadow
                
				div.portlet-title
					div.caption
						i.fa.fa-search
						span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa

					div.actions
						a.btn.green.uppercase(href="cad-ocorrencia.html", style="margin-right:10px;") Novo
							i.fa.fa-plus
                        
						a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")

				div#portlet-body-search.portlet-body

					div.col-md-12
						form#form_sample_3.form-horizontal(action="#")
                            
							div.form-body
                                
								div.form-group
								
									label#lb-situacaoOcorrencia.control-label.col-md-2 Status de Operação:
										span.required *
									div.col-md-3.chosen-responsive
										select.chosen-select(data-allow-clear="false")
											option(value="SAO", selected="") 
											option(value="SAO") Montagem da Carga
											option(value="SAO") Em Captação
											option(value="SAO") Definir TAC
											option(value="SAO") Confirmar TAC
											option(value="SAO") Aguardando criação Viagem
											option(value="SAO") Aguardando Coleta
											option(value="SAO") TAC no Pátio
											option(value="SAO") Em carregamento
											option(value="SAO") Aguardando documentos fiscais
											option(value="SAO") Contrato Frete
											option(value="SAO") Em Viagem
											option(value="SAO") Aguardando confirmação de entrega
											option(value="SAO") Entrega confirmadas


									label#lb-nome.control-label.col-md-2 Nome:
									div.col-md-3
										input.form-control(type="text", name="nome")

								div.form-group

									label.control-label.col-md-7 Status:

									div.col-md-3.chosen-responsive
										select.chosen-select(data-allow-clear="false")
											option(value="SAO", selected="") Ativo
											option(value="SAO") Inativo
                                        
								div.form-group
									div.col-md-12
										hr
										div.pull-right
											button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
												i.fa.fa-filter
                                        
					div.clearfix

	a#ancoraPesquisa

	div.row
		div.col-md-12
            
			div#pnPesquisa.portlet.light.portlet-shadow(style="display:none;")
				div.portlet-title
					div.caption
						i.icon-user
						span.caption-subject.uppercase Resultado da Pesquisa
                    
				div.portlet-body
					table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
						thead.nowrap
							tr
								th Status 
								th Situação de Operação
								th Ocorrência
								th Codigo
								th Finalizadora 
								th 
						tbody


block script-footer
	script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_list-ocorrencia.min.js", type="text/javascript")
