extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page

    h1.page-title
        i.fa.fa-angle-double-right

        | Acompanhamento de Viagens
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Acompanhamento de Viagens

    // Modal de vincular Ocorrência
    div#modal-vincular.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog(role="document", style="width:750px")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    
                    h4.modal-title Selecione uma Ocorrência
                
                div.modal-body
                    div.row
                        div.col-md-12
                            div.form-group
                        
                            label#lb-situacaoOcorrencia.control-label.col-md-2 Ocorrência:

                            div.col-md-4.chosen-responsive
                                select.chosen-select(data-allow-clear="false")
                                    option(value="SAO", selected="") 
                                    option(value="SAO") Negativo
                                    option(value="SAO") Aprovado com carga
                                    option(value="SAO") Não transmitido 
                            label#lb-obs.control-label.col-md-2 Observação:
                                span.required 
                            
                            div.col-md-4
                                textarea.form-control(name:'obs', rows:1, id:'observacao',maxlength="50")
               
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Fechar
                    button.btn.btn-primary.green(type="button") Salvar Ocorrência
    // FIM - Modal de vincular Ocorrência

    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption.font-dark
                        span.caption-subject
                            | Detalhes da Viagem

                    div.actions
                        a.btn.green.uppercase(href="list-cargas.html", style="margin-right:10px;") Listar Cargas
                        
                    
                div.portlet-body
                     table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                        thead.nowrap
                            tr
                                th Status
                                th Codigo 
                                th Origem
                                th Destino
                                th

                        tbody
                            

block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-viagem.js", type="text/javascript")
            