extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")

block content-of-page
    div.form-group
        div.col-md-3
            h1.page-title
                i.fa.fa-angle-double-right

                | Planejamento
            div.page-bar
                ul.page-breadcrumb
                    li
                        i.icon-home
                        a(href="index.html") Início
                        i.fa.fa-angle-right
                    
                    li
                        a(href="#") Planejamento
        div.col-md-5
        div.col-md-4(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.green
                div.visual
                div.details(style="padding-left:40px;")
                    div.number
                    div.desc(style="text-align:left")<b>Atenção!</b> Esse cadastro é global no OrbeLog, não se restringe apenas ao embarcador selecionado no cabeçalho. 


    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                
                div.portlet-title
                    div.caption
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Resumo do Planejamento

                    div.actions
                        a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")

                div#portlet-body-search.portlet-body

                    div.col-md-12
                        form.form-horizontal(action="#")
                            
                            div.form-body
                                
                                div.form-group
                                
                                    label.control-label.col-md-2 Código do Planejamento:
                                    div.col-md-1(style="width:70px;")
                                        label.control-label 2530

                                    label.control-label.col-md-2(style="width:130px;") Tipo de Veículo:
                                    div.col-md-1
                                        label.control-label Truncado

                                    label.control-label.col-md-2 Quantidade de Veículo:
                                    div.col-md-1(style="width:50px;")
                                        label.control-label 5

                                    label.control-label.col-md-1 Carroceria:
                                    div.col-md-1
                                        label.control-label Baú     

                                    label.control-label.col-md-1 Com Preço?
                                    div.col-md-1
                                        label.control-label Sim                                   

                                div.form-group

                                    label.control-label.col-md-1 UF Origem:
                                    div.col-md-1
                                        label.control-label RJ  

                                    label.control-label.col-md-2 Cidade Origem:
                                    div.col-md-2
                                        label.control-label Rio de Janeiro  

                                    label.control-label.col-md-1 UF Destino:
                                    div.col-md-1
                                        label.control-label SP  

                                    label.control-label.col-md-2 Cidade Destino:
                                    div.col-md-2
                                        label.control-label São Paulo 

                                div.form-group

                                    label.control-label.col-md-1 Tipo de Frete:
                                    div.col-md-1
                                        label.control-label Por Viagem  

                                    label.control-label.col-md-2 Vaor do Frete:
                                    div.col-md-1
                                        label.control-label R$1000,00  

                                    label.control-label.col-md-2 Data de Coleta:
                                    div.col-md-1
                                        label.control-label 30/11/2016  


                                        
                                        
                    div.clearfix

    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                
                div.portlet-title
                    div.caption
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Captação de Motoristas


                div.portlet-body

                    div.col-md-12
                        form.form-horizontal(action="#")
                            
                            div.form-body
                                
                                div.form-group
                                    div.col-md-3
                                        a.dashboard-stat.dashboard-stat-v2.blue(href="#")
                                            div.visual
                                                i.fa.fa-truck
                                            
                                            div.details
                                                div.number
                                                    span(data-counter="counterup", data-value="30") 30
                                                div.desc Aguardando Análise

                                    div.col-md-3
                                        a.dashboard-stat.dashboard-stat-v2.yellow(href="#")
                                            div.visual
                                                i.fa.fa-truck
                                            
                                            div.details
                                                div.number
                                                    span(data-counter="counterup", data-value="55") 55
                                                div.desc Em Análise

                                    div.col-md-3
                                        a.dashboard-stat.dashboard-stat-v2.red(href="#")
                                            div.visual
                                                i.fa.fa-truck
                                            
                                            div.details
                                                div.number
                                                    span(data-counter="counterup", data-value="0") 0
                                                div.desc Reprovados

                                    div.col-md-3
                                        a.dashboard-stat.dashboard-stat-v2.green(href="#")
                                            div.visual
                                                i.fa.fa-truck
                                            
                                            div.details
                                                div.number
                                                    span(data-counter="counterup", data-value="0") 0
                                                div.desc Aprovados
                    div.clearfix

    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption.font-dark
                        span.caption-subject
                            | Motoristas Orbe
                    
                div.portlet-body
                    table#table.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                        thead
                            tr
                                th
                                th Status
                                th Nome 
                                th CPF
                                th Placa
                                th

                        tbody

    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                
                div.portlet-title
                    div.caption
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Meus Motoristas


                div.portlet-body

                    div.col-md-12
                        form.form-horizontal(action="#")
                            
                            div.form-body
                                
                                div.form-group

                                    label.col-md-1.control-label Motorista:
                                    
                                    div.col-md-3
                                        div
                                            select.chosen-select(name="motorista", data-label="lb-motorista")
                                                option(value="") SELECIONE
                                                option(value="1") Motorista 1
                                                option(value="2") Motorista 2
                                    
                                    label.col-md-1.control-label CPF:
                                        span.required *
                                    
                                    div.col-md-2
                                        input#cpf.form-control(type="text", name="cpf", data-label="lb-cpf", placeholder="___.___.___-__")

                                    label.col-md-1.control-label Placa:
                                        span.required *
                                    
                                    div.col-md-2
                                        input#placa.form-control(type="text", name="placa", data-label="lb-placa", placeholder="___-____")
                                    
                                    div.col-md-2
                                        button.btn.btn-primary.green.pull-right(type="button") Adicionar

                                div.col-md-12.form-group-top-pad
                                    table.table.table-striped.table-bordered
                                        tr
                                            th 
                                            th Status
                                            th Nome
                                            th CPF
                                            th Placa
                                            th(width="1%", align="center")
                                        
                                        tr
                                            td(align="center") 
                                                div.mt-check-inline
                                                    input(value="", type="checkbox", checked="") 
                                            td Aguardando Análise
                                            td João da Silva
                                            td 417.456.789-55
                                            td GTR-5522
                                            td(align="center")
                                                div.btn-group
                                                    button.btn.btn-xs.green.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Ações
                                                        i.fa.fa-angle-down
                                                    
                                                    ul.dropdown-menu.pull-right(role="menu")
                                                        li
                                                            a(href="javascript:;")
                                                                i.fa.fa-ban Desativar
                    div.clearfix
            
                            

    div.row.form-group-top-pad
        div.col-md-6.col-md-offset-6
            div.pull-right
                button#btn-incluir.btn.btn-success.green Enviar para Análise
                button#btn-enerrar.btn.btn-success.green Encerrar Planejamento
                button#btn-cancelar.btn.btn-default Cancelar 


block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-captacao-tac-1.js", type="text/javascript")
            