extends _master


block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Consultar Cargas Montadas
    
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Cargas montadas
            
    div.row
        
        div.col-md-12
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption
                        i.fa.fa-search
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa
                    
                    div.actions
                        a.btn.green.uppercase(href="cad-cargas-novo.html", style="margin-right:10px;") Novo
                            i.fa.fa-plus
                        
                        a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")
                    
                div#portlet-body-search.portlet-body
                    form#form.form-horizontal(action="#")
                        div.form-body
                            div.form-group
                                    
                                label#lb-ufcnh.control-label.col-md-1 Origem:
                                    span.required *
                                
                                div.col-md-1
                                    select#ufcnh.chosen-select(name="ufcnh", data-label="lb-ufcnh")
                                        option(value="", selected="") &nbsp;
                                        option(value="1") SP
                                        option(value="2") RJ
                                        option(value="3") ES
                                
                                div.col-md-4
                                    div.chosen-reponsive
                                        select#cidadecnh.chosen-select(name="cidadecnh", data-label="lb-ufcnh")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória


                                label#lb-ufcnh.control-label.col-md-1 Destino:
                                    span.required *
                                
                                div.col-md-1
                                    select#ufcnh.chosen-select(name="ufcnh", data-label="lb-ufcnh")
                                        option(value="", selected="") &nbsp;
                                        option(value="1") SP
                                        option(value="2") RJ
                                        option(value="3") ES
                                
                                div.col-md-4
                                    div.chosen-reponsive
                                        select#cidadecnh.chosen-select(name="cidadecnh", data-label="lb-ufcnh")
                                            option(value="", selected="") &nbsp;
                                            option(value="1") São Paulo
                                            option(value="2") Rio de Janeiro
                                            option(value="3") Vitória

                            div.form-group
                                div.col-md-12
                                    hr
                                    div.pull-right
                                        button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
                                            i.fa.fa-filter

                    div.clearfix

    a#ancoraPesquisa

    div.row
        div.col-md-12
            
            div#pnPesquisa.portlet.light.portlet-shadow.display-hide
                div.portlet-title
                    div.caption
                        i.icon-user
                        span.caption-subject.uppercase Cargas Montadas
                    
                div.portlet-body
                    table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                        thead.nowrap
                            tr
                                th Status
                                th Origem
                                th Destino
                                th Tipo de Veículo
                                th Data Criação
                                th Dt Previsão Coleta
                                th
                        tbody

block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-cargas.min.js", type="text/javascript")