extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU


block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")


block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right 
		| &nbsp;Consulta de Usuários

	div.page-bar
		ul.page-breadcrumb
			li
				i.icon-home
				a(href="index.html") Início
				i.fa.fa-angle-right
				
			li
				a(href="#") Consulta de Usuários
            
	div.row
		div.col-md-12
            
			div.portlet.light.portlet-shadow
                
				div.portlet-title
					div.caption
						i.fa.fa-search
						span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa

					div.actions
						a.btn.green.uppercase(href="cad-usuario.html", style="margin-right:10px;") Novo
							i.fa.fa-plus
                        
						a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")

				div#portlet-body-search.portlet-body

					div.col-md-12
						form#form_sample_3.form-horizontal(action="#")
                            
							div.form-body
                                
								div.form-group
                                    
									label.control-label.col-md-2 Tipo de Acesso:

									div.col-md-3

										div.mt-checkbox-inline
											label#radioORBE.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
												input(name="optionsRadios", value="", type="checkbox") 
												| ORBE
												span
                                            
											label#radioEMBARCADOR.mt-checkbox.mt-checkbox-outline(style="margin-bottom:0;")
												input(name="optionsRadios", value="", type="checkbox") 
												| Embarcador
												span

								div.form-group
								
									label.control-label.col-md-2 Nome:
									div.col-md-3
										input.form-control(type="text", name="nome")

									label.control-label.col-md-1 Sobrenome:
									div.col-md-4
										input.form-control(type="text", name="sobrenome")

								div.form-group
									label.control-label.col-md-2 E-mail:
									div.col-md-3
										input.form-control(type="text", name="email")
                                    
									label.control-label.col-md-1 Status:
									div.col-md-3.chosen-responsive
										select.chosen-select(data-allow-clear="false")
											option(value="SAO", selected="") Ativo
											option(value="SAO") Inativo
                                        
                                
								div.form-group
									label.control-label.col-md-2 Filial:

									div.col-md-8
										div.chosen-responsive
											select.chosen-select(data-allow-clear="false", multiple="multiple")
												option(value="SOD") FILIAL1
												option(value="SOD") FILIAL2
												option(value="SOD") FILIAL3
												option(value="SOD") FILIAL4
												option(value="SOD") FILIAL5


								div.form-group
									div.col-md-12
										hr
										div.pull-right
											button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
												i.fa.fa-filter
                                        
					div.clearfix

	a#ancoraPesquisa

	div.row
		div.col-md-12
            
			div#pnPesquisa.portlet.light.portlet-shadow(style="display:none;")
				div.portlet-title
					div.caption
						i.icon-user
						span.caption-subject.uppercase Usuários
                    
				div.portlet-body
					table#sample_1.table.table-striped.table-bordered.table-hover.order-column
						thead.nowrap
							tr
								th Status 
								th Nome 
								th Sobrenome 
								th E-mail 
								th Dt. Vigência 
								th 
						tbody


block script-footer
	script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_list-usuario.min.js", type="text/javascript")