extends _master


block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")

block content-of-page
    div.form-group
        div.col-md-4
            h1.page-title
                i.fa.fa-angle-double-right 
                | &nbsp;Pesquisa Planejamento

            div.page-bar
                ul.page-breadcrumb
                    li
                        i.icon-home
                        a(href="index.html") Início
                        i.fa.fa-angle-right
                        
                    li
                        a(href="#") Planejamento
        div.col-md-2

        div.col-md-2(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.red
                div.visual(style="height:35px;")
                div.details(style="padding-left:40px;")
                    div.desc(style="text-align:center;padding-top:10px;")<b>CAPTAÇÃO PENDENTE</b><br>101

        div.col-md-2(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.yellow
                div.visual(style="height:35px;")
                div.details(style="padding-left:40px;")
                    div.desc(style="text-align:center;padding-top:10px;")<b>EM ANDAMENTO</b><br>55

        div.col-md-2(style="height:85px;")
            a.dashboard-stat.dashboard-stat-v2.green
                div.visual(style="height:35px;")
                div.details(style="padding-left:40px;padding-right:35px;")
                    div.desc(style="text-align:center;padding-top:10px;")<b>ENCERRADOS</b><br>120





    // Modal de Copiar Configurações
    div#modal-opcao

                
 
     // FIM - Modal de Copiar Configurações
            
    div.row
        
        div.col-md-12
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption
                        i.fa.fa-search
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa
                    
                    div.actions
                        a.btn.green.uppercase(href="cad-planejamento-novo.html", style="margin-right:10px;") Novo
                            i.fa.fa-plus
                        
                        a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")
                    
                div#portlet-body-search.portlet-body
                    form#form.form-horizontal(action="#")
                        div.form-body
                            div.form-group
                                    
                                label.control-label.col-md-1 Filial:

                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false", multiple="multiple")
                                            option(value="SOD") FILIAL1
                                            option(value="SOD") FILIAL2
                                            option(value="SOD") FILIAL3
                                            option(value="SOD") FILIAL4
                                            option(value="SOD") FILIAL5

                                label.control-label.col-md-3 Tipo de Veícuo:

                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Selecione
                                        option(value="SAO") Trucado
                                        option(value="SAO") VUC

                            div.form-group

                                label.control-label.col-md-1(style="padding-top: 0px;") Data da<br> Coleta:

                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigeciaDe.form-control(type="text", placeholder="DD/MM/AAAA", name="vigeciaDe", data-label="lb-vigeciaDe")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                                div.col-md-2
                                    div.input-group.date.date-picker(data-date-format="dd/mm/yyyy")
                                        input#vigenciaAte.form-control(type="text", placeholder="DD/MM/AAAA", name="vigenciaAte", data-label="lb-vigenciaAte")
                                        span.input-group-btn
                                            button.btn.default(type="button")
                                                i.fa.fa-calendar

                                label.control-label.col-md-2 Status:

                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Ativo
                                        option(value="SAO") Inativo

                            div.form-group
                                    
                                label.control-label.col-md-1 Codigo:

                                div.col-md-2
                                    input.form-control(type="text", name="codigo")


                            div.form-group
                                    
                                label.control-label.col-md-1 Local de Origem:

                                label.control-label.col-md-6 Local de Destino:                            

                            div.form-group
    
                                label.control-label.col-md-1 Destino:

                                div.col-md-1.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") SP
                                        option(value="SAO") RJ
                                        option(value="SAO") MT

                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Cidade
                                        option(value="SAO") Cidade 1
                                        option(value="SAO") Cidade 2
                                        option(value="SAO") Cidade 3

                                label.control-label.col-md-2 Destino:

                                div.col-md-1.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") SP
                                        option(value="SAO") RJ
                                        option(value="SAO") MT

                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Cidade
                                        option(value="SAO") Cidade 1
                                        option(value="SAO") Cidade 2
                                        option(value="SAO") Cidade 3







                            div.form-group
                                div.col-md-12
                                    hr
                                    div.pull-right
                                        button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
                                            i.fa.fa-filter

                    div.clearfix

    a#ancoraPesquisa

    div.row
        div.col-md-12
            
            div#pnPesquisa.portlet.light.portlet-shadow.display-hide
                div.portlet-title
                    div.caption
                        i.icon-user
                        span.caption-subject.uppercase Planejamentos
                    
                div.portlet-body
                    table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display
                        thead.nowrap
                            tr
                                th Status
                                th Codigo
                                th Filial
                                th Data Coleta
                                th Tipo Veículo
                                th UF<br> Origem
                                th Cidade<br> Origem
                                th Uf<br> Destino
                                th Cidade<br> destino
                                th Filial Origem
                                th Filial Destino
                                th Empresa Origem
                                th Empresa Destino
                                th Ações
                        tbody

block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-planejamento.min.js", type="text/javascript")

