extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")
    


block content-of-page

    form#form.form-horizontal(action="#", novalidate="novalidate")        
        div.row
            div.col-md-12
                img(src= diretorioAssets + "/layouts/layout2/img/logo-color.png", alt="logo1",style="padding-bottom:10px;")
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            span#title-collapse.caption-subject.uppercase Titulo do E-mail
                        
                    div.portlet-body
                        div.form-body

                            div.form-group
                                p.col-md-12 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar arcu at sem laoreet, in interdum risus maximus. Fusce varius sem a leo aliquet, mollis dignissim velit laoreet. Mauris venenatis egestas velit quis sagittis. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sodales convallis mauris, scelerisque vehicula felis. Nunc convallis lorem ex, et ullamcorper est egestas vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum, massa non convallis sagittis, orci est dapibus nulla, ac ullamcorper diam sem a felis. Ut luctus tortor eu est faucibus mollis. Cras volutpat porttitor mattis. Ut auctor ante non leo dapibus varius.

                            div.form-group
                                p.col-md-12 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar arcu at sem laoreet, in interdum risus maximus. Fusce varius sem a leo aliquet, mollis dignissim velit laoreet. Mauris venenatis egestas velit quis sagittis. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sodales convallis mauris, scelerisque vehicula felis. Nunc convallis lorem ex, et ullamcorper est egestas vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum, massa non convallis sagittis, orci est dapibus nulla, ac ullamcorper diam sem a felis. Ut luctus tortor eu est faucibus mollis. Cras volutpat porttitor mattis. Ut auctor ante non leo dapibus varius.
                            div.form-group
                                div.pull-right
                                    p.col-md-11 Atenciosamente <br> Equipe Orbelog <br> www.orbelog.com.br
                                    div.col-md-1







        div.row
            div.col-md-12
                
                div#form-cadastro.portlet.light.portlet-fit.portlet-form.portlet-shadow
                    
                    div.portlet-title

                        div.caption
                            img(src= diretorioAssets + "/layouts/layout2/img/logo-color.png", alt="logo")
                            span#title-collapse.caption-subject.uppercase Titulo do E-mail
                        
                    div.portlet-body
                        div.form-body

                            div.form-group
                                p.col-md-12 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar arcu at sem laoreet, in interdum risus maximus. Fusce varius sem a leo aliquet, mollis dignissim velit laoreet. Mauris venenatis egestas velit quis sagittis. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sodales convallis mauris, scelerisque vehicula felis. Nunc convallis lorem ex, et ullamcorper est egestas vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum, massa non convallis sagittis, orci est dapibus nulla, ac ullamcorper diam sem a felis. Ut luctus tortor eu est faucibus mollis. Cras volutpat porttitor mattis. Ut auctor ante non leo dapibus varius.

                            div.form-group
                                p.col-md-12 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar arcu at sem laoreet, in interdum risus maximus. Fusce varius sem a leo aliquet, mollis dignissim velit laoreet. Mauris venenatis egestas velit quis sagittis. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sodales convallis mauris, scelerisque vehicula felis. Nunc convallis lorem ex, et ullamcorper est egestas vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum, massa non convallis sagittis, orci est dapibus nulla, ac ullamcorper diam sem a felis. Ut luctus tortor eu est faucibus mollis. Cras volutpat porttitor mattis. Ut auctor ante non leo dapibus varius.
                            div.form-group
                                div.pull-right
                                    p.col-md-11 Atenciosamente <br> Equipe Orbelog <br> www.orbelog.com.br
                                    div.col-md-1






                                                        

block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_cad-embarcador.min.js", type="text/javascript")