extends _master


block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU


block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")


block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right 
        | &nbsp;Consulta de Veículos

    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
                
            li
                a(href="#") Consulta de Veículos


    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                
                div.portlet-title
                    div.caption
                        i.fa.fa-search
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa

                    div.actions
                        a.btn.green.uppercase(href="cad-veiculo.html", style="margin-right:10px;") Novo
                            i.fa.fa-plus
                        
                        a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")

                div#portlet-body-search.portlet-body

                    div.col-md-12
                        form#form.form-horizontal(action="#")
                            
                            div.form-body
                                
                                div.form-group
                                    
                                    label.control-label.col-md-2 Tipo de Veículo:

                                    div.col-md-3
                                        div.chosen-responsive
                                            select.chosen-select(data-allow-clear="false", multiple="multiple")
                                                option(value="SOD") Tipo Veículo 1
                                                option(value="SOD") Tipo Veículo 2
                                                option(value="SOD") Tipo Veículo 3
                                                option(value="SOD") Tipo Veículo 4
                                                option(value="SOD") Tipo Veículo 5

                                    label.control-label.col-md-2 Tracionador:

                                    div.col-md-3
                                        div.chosen-responsive
                                            select.chosen-select(data-allow-clear="false")
                                                option(value="SOD") Tracionador 1
                                                option(value="SOD") Tracionador 2
                                                option(value="SOD") Tracionador 3
                                                option(value="SOD") Tracionador 4
                                                option(value="SOD") Tracionador 5

                                div.form-group
                                
                                    label.control-label.col-md-2 Placa:
                                    div.col-md-3
                                        input.form-control(type="text", name="nome")

                                    label.control-label.col-md-2 Chassi:
                                    div.col-md-3
                                        input.form-control(type="text", name="sobrenome")

                                div.form-group
                                    label.control-label.col-md-2 Status:
                                    div.col-md-3.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SAO", selected="") Ativo
                                            option(value="SAO") Inativo
                                div.form-group
                                    div.col-md-12
                                        hr
                                        div.pull-right
                                            button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
                                                i.fa.fa-filter
                                        
                    div.clearfix

    a#ancoraPesquisa


    div.row
        div.col-md-12
            
            div#pnPesquisa.portlet.light.portlet-shadow(style="display:none;")
                div.portlet-title
                    div.caption
                        i.fa.fa-truck
                        span.caption-subject.uppercase Veículos
                    
                div.portlet-body
                    
                    table#table-veiculo.table.table-striped.table-bordered.table-hover.display.order-column.display(width="100%")
                        thead
                            tr
                                th Status
                                th Tipo de Veículo
                                th Tracionador
                                th Placa 
                                th Chassi
                                th Comprimento (m)
                                th Capacidade Máxima (T)
                                th 
                            
                        tbody
            

block script-footer
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-veiculo.min.js", type="text/javascript")
            