extends _master

block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")

block content-of-page

    h1.page-title
        i.fa.fa-angle-double-right

        | Planejamento de Captação
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Planejamento de Captação

    // Modal de vincular TAC a algum pedido
    div#modal-vincular.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog(role="document", style="width:750px")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    
                    h4.modal-title Selecione uma Carga para vincular ao TAC
                
                div.modal-body
                    div.row
                        div.col-md-12
                            table.table.table-striped.table-condensed.table-hover.table-bordered
                                thead
                                    tr
                                        th
                                        th Tipo de Produto
                                        th Tipo de Veículo
                                        th.text-center Peso

                                tbody
                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Aço
                                        td VUC
                                        td.text-center 15T

                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Alumínio
                                        td Bi-Trem
                                        td.text-center 15T

                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Aço
                                        td VUC
                                        td.text-center 15T

                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Aço
                                        td VUC
                                        td.text-center 15T

                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Aço
                                        td VUC
                                        td.text-center 15T

                                    tr
                                        td.text-center
                                            label.mt-radio
                                                input.mt-radio(type="radio", name="1", value="1")
                                                span                                                                     

                                        td Aço
                                        td VUC
                                        td.text-center 15T
                
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Fechar
                    button.btn.btn-primary.green(type="button") Salvar Alteração
    // FIM - Modal de vincular TAC a algum pedido


    div.row
        div.col-md-12
            
                div#portlet-body-search.portlet-body

                    div.col-md-12
                        form#form_sample_3.form-horizontal(action="#")
                            
                            div.form-body
                                
                                div.form-group
                                    
                                    label.control-label.col-md-2 Código Planejamento:

                                    div.col-md-2
                                        p.form-control-static 20221

                                    label.control-label.col-md-2 Origem:
                                    div.col-md-2
                                        p.form-control-static São Paulo

                                    label.control-label.col-md-2 Destino:
                                    div.col-md-2
                                        p.form-control-static Rio de Janeiro


                                div.form-group

                                    label.control-label.col-md-2 Valor do Frete:
                                    div.col-md-2
                                        p.form-control-static R$ 2500,00

                                    label.control-label.col-md-2 Tipo Veículo:
                                    div.col-md-2
                                        p.form-control-static VUC

                                    label.control-label.col-md-2 Tipo Carroceria:
                                    div.col-md-2
                                        p.form-control-static Sem Carroceria


    a#ancoraPesquisa

    div.row
        div.col-md-12
            
            div#pnescolhidos.portlet.light.portlet-shadow.display-hide
                div.portlet-title
                    div.caption
                        i.icon-user
                        span.caption-subject.uppercase Motoristas Captados
                    
                div.portlet-body
                    table#table-selecionado.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                        thead.nowrap
                            tr
                                th Status 
                                th Nome 
                                th Cpf 
                                th Rntrc 
                                th 
                        tbody                   

    div.row
        div.col-md-12
            
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption.font-dark
                        span.caption-subject
                            | Selecione o Motorista
                    
                div.portlet-body
                    table#table.table.table-striped.table-bordered.table-hover.table-checkable.order-column
                        thead
                            tr
                                th
                                th Nome 
                                th CPF
                                th RNTRC
                                th

                        tbody
                            

    div.row
        div.col-md-6.col-md-offset-6
            div.pull-right
                button#btn-incluir.btn.btn-success.green Enviar para Análise
                button#btn-cancelar.btn.btn-default Cancelar 


block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-captacao-motorista.js", type="text/javascript")
            