extends _master

block embarcador-filial
	span.fa.fa-industry

	label Embarcador:

	select.form-control.chosen-select(data-allow-clear="false")
		option(value="GERDAU") GERDAU


block head
	link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")
	link(href= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.css", rel="stylesheet", type="text/css")


block content-of-page
	h1.page-title
		i.fa.fa-angle-double-right 
		| &nbsp;Pesquisa Filial Serviços

	div.page-bar
		ul.page-breadcrumb
			li
				i.icon-home
				a(href="index.html") Início
				i.fa.fa-angle-right
				
			li
				a(href="#") Filial Serviços
            
	div.row
		div.col-md-12
            
			div.portlet.light.portlet-shadow
                
				div.portlet-title
					div.caption
						i.fa.fa-search
						span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa



				div#portlet-body-search.portlet-body

					div.col-md-12
						form#form_sample_3.form-horizontal(action="#")
                            
							div.form-body
                                
								div.form-group
								
									label#lb-situacaoOcorrencia.control-label.col-md-2 Filial:
										
									div.col-md-3.chosen-responsive
										select.chosen-select(data-allow-clear="false")
											option(value="SAO", selected="") 
											option(value="SAO") Filial 1
											option(value="SAO") Filial 2
											option(value="SAO") Filial 3
											option(value="SAO") Filial 4
											option(value="SAO") Filial 5


									label#lb-situacaoOcorrencia.control-label.col-md-2 Prestador de Serviço:
										
									div.col-md-3.chosen-responsive
										select.chosen-select(data-allow-clear="false")
											option(value="SAO", selected="") 
											option(value="SAO") Pamcary
											option(value="SAO") Prestador 1
											option(value="SAO") Prestador 2

                                        
								div.form-group
									div.col-md-12
										hr
										div.pull-right
											button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
												i.fa.fa-filter
                                        
					div.clearfix

	a#ancoraPesquisa

	div.row
		div.col-md-12
            
			div#pnPesquisa.portlet.light.portlet-shadow(style="display:none;")
				div.portlet-title
					div.caption
						i.icon-user
						span.caption-subject.uppercase Resultado da Pesquisa
                    
				div.portlet-body
					table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
						thead.nowrap
							tr
								th Filial 
								th Prestador de Serviço
								th 
						tbody


block script-footer
	script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
	script(src= diretorioAssets + "/global/plugins/bootstrap-sweetalert/sweetalert.min.js", type="text/javascript")
	script(src= diretorioAssets + "/pages/scripts/_list-filial-servico.min.js", type="text/javascript")
