extends _master


block embarcador-filial
    span.fa.fa-industry

    label Embarcador:

    select.form-control.chosen-select(data-allow-clear="false")
        option(value="GERDAU") GERDAU

block head
    link(href= diretorioAssets + "/global/plugins/datatables/datatables.min.css", rel="stylesheet", type="text/css")
    link(href= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css", rel="stylesheet", type="text/css")

block content-of-page
    h1.page-title
        i.fa.fa-angle-double-right
        | &nbsp;Consulta Pedidos
    
    div.page-bar
        ul.page-breadcrumb
            li
                i.icon-home
                a(href="index.html") Início
                i.fa.fa-angle-right
            
            li
                a(href="#") Consulta Pedidos
            
    div.row
        
        div.col-md-12
            div.portlet.light.portlet-shadow
                div.portlet-title
                    div.caption
                        i.fa.fa-search
                        span#title-collapse.caption-subject.uppercase.cursor-pointer Pesquisa
                    
                    div.actions
                        a.btn.green.uppercase(href="cad-captacao.html", style="margin-right:10px;") Novo
                            i.fa.fa-plus
                        
                        a#icon-collapse.btn.btn-circle.btn-icon-only.btn.btn-default.fa.fa-chevron-down(href="javascript:;")
                    
                div#portlet-body-search.portlet-body
                    form#form.form-horizontal(action="#")
                        div.form-body
                            div.form-group

                                label.control-label.col-md-2 Filial:

                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false", multiple="multiple")
                                            option(value="SOD") FILIAL1
                                            option(value="SOD") FILIAL2
                                            option(value="SOD") FILIAL3
                                            option(value="SOD") FILIAL4
                                            option(value="SOD") FILIAL5

                            div.form-group
                                div-col-md-2
                                    label.control-label.col-md-2 UF Origem:
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SOD") SP
                                            option(value="SOD") RJ
                                            option(value="SOD") MG

                                div-col-md-2
                                    label.control-label.col-md-2 Cidade Origem:
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SOD") São Paulo
                                            option(value="SOD") Rio de Janeiro
                                            option(value="SOD") Belo Horizonte 

                            div.form-group
                                div-col-md-2
                                    label.control-label.col-md-2 UF Destino:
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SOD") SP
                                            option(value="SOD") RJ
                                            option(value="SOD") MG

                                div-col-md-2
                                    label.control-label.col-md-2 Cidade Destino:
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SOD") São Paulo
                                            option(value="SOD") Rio de Janeiro
                                            option(value="SOD") Belo Horizonte 

                            div.form-group
                                div-col-md-2
                                    label.control-label.col-md-2 Cliente:
                                div.col-md-3
                                    div.chosen-responsive
                                        select.chosen-select(data-allow-clear="false")
                                            option(value="SOD") Cliente 1 LTDA
                                            option(value="SOD") Cliente 2 ME
                                            option(value="SOD") Cliente 3 SA

                                label.control-label.col-md-2 Status:
                                div.col-md-3.chosen-responsive
                                    select.chosen-select(data-allow-clear="false")
                                        option(value="SAO", selected="") Ativo
                                        option(value="SAO") Inativo

                            div.form-group

                                div-col-md-2
                                    label.control-label.col-md-2 Data do Pedido:
                                div.col-md-3
                                    div.form-group
                                        div.input-group.input-large.date-picker.input-daterange(data-date="10/11/2012", data-date-format="dd/mm/yyyy")
                                            input.form-control(name="from", type="text")
                                            span.input-group-addon até
                                            input.form-control(name="to", type="text")

                                div-col-md-2
                                    label.control-label.col-md-2 Previsão de Coleta:
                                div.col-md-3
                                    div.form-group
                                        div.input-group.input-large.date-picker.input-daterange(data-date="10/11/2012", data-date-format="dd/mm/yyyy")
                                            input.form-control(name="from", type="text")
                                            span.input-group-addon até
                                            input.form-control(name="to", type="text")



                            div.form-group
                                div.col-md-12
                                    hr
                                    div.pull-right
                                        button#btn-pesquisa.btn.sbold.blue(style="margin-right:10px;", type="button") Buscar
                                            i.fa.fa-filter

                    div.clearfix

    a#ancoraPesquisa

    div.row
        div.col-md-12
            
            div#pnPesquisa.portlet.light.portlet-shadow.display-hide
                div.portlet-title
                    div.caption
                        i.icon-user
                        span.caption-subject.uppercase Planejamentos
                    
                div.portlet-body
                    table#sample_1.table.table-striped.table-bordered.table-hover.order-column.display(width="100%")
                        thead.nowrap
                            tr
                                th Status
                                th Origem
                                th Destino
                                th Nome do Cliente
                                th Data Pedido
                                th Dt Previsão Coleta
                                th
                        tbody

block script-footer
    script(src= diretorioAssets + "/global/scripts/datatable.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/datatables.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/responsive/js/responsive.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/chosen/chosen.jquery.min.js", type="text/javascript")
    script(src= diretorioAssets + "/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js", type="text/javascript")
    script(src= diretorioAssets + "/pages/scripts/_list-captacao.min.js", type="text/javascript")