/* Cubic Bezier Transition */
.alert {
  background: none !important;
  border: none !important;
  text-transform: uppercase !important;
  padding-left: 0px !important; }

.user-login-5 {
  min-height: 100vh; }
  .user-login-5 .bs-reset {
    margin: 0;
    padding: 0; }
  .user-login-5 .text-right {
    text-align: right; }
  .user-login-5 .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; }
  .user-login-5 .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em; }
    .user-login-5 .login-logo.login-6 {
      top: 80px;
      left: 80px; }
  .user-login-5 .login-container {
    position: relative;
    min-height: 100vh; }
    .user-login-5 .login-container > .login-content {
      padding: 0 80px; }
    .user-login-5 .login-container > .login-content {
      margin-top: 20%; }
      .user-login-5 .login-container > .login-content > h1 {
        font-size: 30px;
        font-weight: 300;
        color: #4e5a64; }
      .user-login-5 .login-container > .login-content > .forget-form > h3 {
        margin-top: 10px; }
      .user-login-5 .login-container > .login-content p {
        color: #a0a9b4;
        font-size: 15px;
        line-height: 22px; }
      .user-login-5 .login-container > .login-content label, .user-login-5 .login-container > .login-content .form-control, .user-login-5 .login-container > .login-content button, .user-login-5 .login-container > .login-content p, .user-login-5 .login-container > .login-content .forgot-password {
        text-transform: uppercase; }
      .user-login-5 .login-container > .login-content > .login-form {
        margin-top: 40px; }
        .user-login-5 .login-container > .login-content > .login-form .form-control {
          font-size: 14px;
          border-radius: 0 !important; }
          .user-login-5 .login-container > .login-content > .login-form .form-control:focus {
            outline: 0; }
        .user-login-5 .login-container > .login-content > .login-form .forgot-password,
        .user-login-5 .login-container > .login-content > .login-form .login-button {
          display: inline-block; }
        .user-login-5 .login-container > .login-content > .login-form .rem-password {
          margin-top: 10px; }
          .user-login-5 .login-container > .login-content > .login-form .rem-password > p {
            margin: 0; }
          .user-login-5 .login-container > .login-content > .login-form .rem-password > .rem-checkbox {
            border-color: #a4aab2; }
        .user-login-5 .login-container > .login-content > .login-form .forgot-password {
          margin-right: 1em; }
          .user-login-5 .login-container > .login-content > .login-form .forgot-password > a {
            color: #a4aab2; }
            .user-login-5 .login-container > .login-content > .login-form .forgot-password > a:hover {
              color: #337ab7;
              text-decoration: none; }
            .user-login-5 .login-container > .login-content > .login-form .forgot-password > a:focus {
              color: #a4aab2;
              text-decoration: none; }
  .user-login-5 .alert {
    margin-top: -20px; }
  .user-login-5 .form-group.valid {
    border-bottom: 1px solid #a0a9b4 !important; }

@media (max-width: 1365px) {
  .user-login-5 .login-logo.login-6 {
    top: 40px;
    left: 40px; }
  .user-login-5 .login-container > .login-content,
  .user-login-5 .login-container .login-social,
  .user-login-5 .login-container .login-copyright {
    padding: 0 40px; }
  .user-login-5 .login-container .login-social {
    padding-right: 0; }
  .user-login-5 .login-container .login-copyright {
    padding-left: 0; } }

@media (max-width: 1023px) {
  .user-login-5 {
    min-height: 50vh; }
    .user-login-5 .mt-login-5-bsfix {
      width: 100%; }
    .user-login-5 .login-bg {
      min-height: 50vh; }
    .user-login-5 .login-logo.login-6 {
      position: relative;
      margin: 0 0 40px 0; }
    .user-login-5 .login-container {
      min-height: 50vh; }
      .user-login-5 .login-container > .login-content {
        margin-top: 60px; }
        .user-login-5 .login-container > .login-content .login-form {
          margin-top: 40px; }
      .user-login-5 .login-container .rem-password {
        margin-bottom: 1em; }
      .user-login-5 .login-container > .login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0; }
        .user-login-5 .login-container > .login-footer .login-social li {
          margin-right: 0.5em; }
    .user-login-5 .alert {
      margin-top: -20px; } }

@media (max-width: 640px) {
  .user-login-5 .login-container > .login-content .text-right {
    text-align: left; } }
