/***
Customized Bootstrap Popover
***/

/*rtl:ignore*/
.popover {
    @if $theme-type == "default" {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(147, 161, 187, 0.6) !important;
    }
    padding: 0;
    min-width:250px !important;
    font-size:10px !important;
        
    .popover-title{
        margin: 0 !important;
        background-color: #2E9947 !important;
        color:#FFF !important;
        font-size:12px !important;
        border-radius:0;
    }

    .popover-content{
        font-size:10px !important;
    }
    
}


@if $theme-type == "material-design" {
    /*rtl:ignore*/
    .popover {
        @include border-radius($general-border-radius);
        @extend .md-shadow-z-2;        
        border: 0;
        background: #fff; 
    }

    .popover {
        > .popover-title {
            background: #fff;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            padding: 10px 14px 6px 14px;
            border: 0;
        }

        .arrow,
        .arrow:after {
            display: none !important;
        }
    }
}