ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu.page-sidebar-menu-closed(data-keep-expanded="false", data-auto-scroll="true", data-slide-speed="200")
    
    li.nav-item.start
        a.nav-link(href="index.html")
            i.icon-home
            span.title Início

    li.nav-item.start
        a.nav-link.nav-toggle(href="javascript:;")
            i.icon-settings
            span.title Parâmetros

        ul.sub-menu
            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Usuários
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-usuario.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-usuario.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Usuário

            li.nav-item.start
                a.nav-link(href="#")
                    i.fa.fa-angle-double-right
                    span.title Perfil de Usuários
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-perfil-usuario.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-perfil-usuario.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Perfil

            li.nav-item.start
                a.nav-link(href="cad-controle-acesso.html")
                    i.fa.fa-angle-double-right
                    span.title Controle de Acesso

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Embarcador
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-pesquisa-embarcador.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-embarcador.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Embarcador

             li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Filial
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-filial.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-filial.html")
                            i.fa.fa-angle-double-right
                            span.title Nova Filial

                    li.nav-item
                        a.nav-link(href="list-filial-servico.html")
                            i.fa.fa-angle-double-right
                            span.title Filial Serviços  
                   
                    

             li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Prestador Serviço
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-prestador-servico.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta

                    li.nav-item
                        a.nav-link(href="cad-prestador-servico.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Prestador
                     

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Tipo de Veículo
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-tipoveiculo.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-tipoveiculo.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Tipo de Veículo


        
    li.nav-item.start
        a.nav-link.nav-toggle(href="javascript:;")
            i.icon-note
            span.title Cadastros

        
        ul.sub-menu
            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Motoristas
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-motorista.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-motorista.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Motorista

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Veículos
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-veiculo.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-veiculo.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Veículo

             li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Fornecedor/Cliente
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-empresa.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-empresa.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Fornecedor/Cliente   

             li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Ocorrência
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-ocorrencia.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-ocorrencia.html")
                            i.fa.fa-angle-double-right
                            span.title Nova Ocorrência                                               

    li.nav-item.start
        a.nav-link(href="javascript:;")
            i.orbe-icon-operacao
                img(src="../assets/layouts/layout2/img/icons.png", style="width: 35px")
            span.title Operações

        ul.sub-menu
            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Planejamento

                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-planejamento.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta

                    li.nav-item
                        a.nav-link(href="cad-planejamento-novo.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Planejamento

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Pedidos

                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-captacao.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta

                    li.nav-item
                        a.nav-link(href="cad-captacao.html")
                            i.fa.fa-angle-double-right
                            span.title Novo Pedido

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Cargas

                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-cargas.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta

                    li.nav-item
                        a.nav-link(href="cad-cargas-novo.html")
                            i.fa.fa-angle-double-right
                            span.title Nova Carga

            li.nav-item.start
                a.nav-link(href="list-viagem.html")
                    i.fa.fa-angle-double-right
                    span.title Viagem

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title Contrato de Frete



    li.nav-item.start
        a.nav-link(href="javascript:;")
            i.icon-docs
            span.title Relatórios

        ul.sub-menu
            li.nav-item.start
                a.nav-link(href="list-planejamento.html")
                    i.fa.fa-angle-double-right
                    span.title Financeiro

                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="#")
                            i.fa.fa-angle-double-right
                            span.title Custo Total por Viagem
                    
                    li.nav-item
                        a.nav-link(href="#")
                            i.fa.fa-angle-double-right
                            span.title Obrigações Fisais

                    li.nav-item
                        a.nav-link(href="#")
                            i.fa.fa-angle-double-right
                            span.title Gastos por Prestador de Serviço

    li.nav-item.start
        a.nav-link(href="javascript:;")
            i.icon-book-open
            span.title Parâmetros Fiscais
            
        ul.sub-menu
            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title INSS
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-inss.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-inss.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros INSS

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title IRRF
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-irrf.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-irrf.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros IRRF


            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title ISS
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-iss.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-iss.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros ISS

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title SEST/SENAT
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-sest-senat.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-sest-senat.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros SEST/SENAT

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title ICMS
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-icms.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-icms.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros ICMS

            li.nav-item.start
                a.nav-link(href="javascript:;")
                    i.fa.fa-angle-double-right
                    span.title INSS Patronal
                
                ul.sub-menu
                    li.nav-item
                        a.nav-link(href="list-inss-patronal.html")
                            i.fa.fa-angle-double-right
                            span.title Consulta
                    
                    li.nav-item
                        a.nav-link(href="cad-inss-patronal.html")
                            i.fa.fa-angle-double-right
                            span.title Parâmetros INSS Patronal
