// USER LOGIN 5
@import '../global/_variables'; // global variables.
@import '../global/components/_mixins'; // global mixings.

.alert{background:none !important; border:none !important; text-transform:uppercase !important; padding-left:0px !important;}

.user-login-5{
	min-height:100vh;

	.bs-reset{
		margin:0;
		padding:0;
	}  

	.text-right{
		text-align: right;
	}

	.login-bg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height:100vh;
	}

	.login-logo{
		position: absolute;
		top:2.5em;
		left:2.5em;

		&.login-6{
			top:80px;
			left:80px;
		}
	}

	.login-container{
		position:relative;
		min-height:100vh;

		>.login-content{
			padding:0 80px;
		}

		>.login-content{
			margin-top:20%;

			>h1{
				font-size: 30px;
				font-weight: 300;
				color:#4e5a64;
			}

			> .forget-form{
				> h3{
					margin-top:10px;
				}
			}

			p{
				color:#a0a9b4;
				font-size: 15px;
				line-height:22px;
			}

			label, .form-control, button, p, .forgot-password{text-transform: uppercase;} 

			>.login-form{
				margin-top:40px;
				
				.form-control {
					font-size: 14px;
					border-radius: 0 !important;

					&:focus{
						outline: 0;
					}
				}

				.forgot-password,
				.login-button{
					display:inline-block;
				}

				.rem-password{
					margin-top: 10px;

					> p{
						margin:0;
					}

					>.rem-checkbox{
						border-color:#a4aab2;
					}
				}

				.forgot-password{
					margin-right:1em; 

					> a{
						color:#a4aab2;

						&:hover{
							color:#337ab7;
							text-decoration: none;
						}

						&:focus{
							color:#a4aab2;
							text-decoration: none;
						}
					}

				}

			}

		}

	}


	// ERROR HANDLER
	.alert{
		margin-top: -20px;
	}

	.form-group{

		&.valid{
			border-bottom: 1px solid #a0a9b4 !important;
		}
	}
}


// END

// MOBILE

@media (max-width: 1365px) {
	.user-login-5{

		.login-logo{
			&.login-6{
				top:40px;
				left:40px;
			}
		}

		.login-container{

			>.login-content,
			.login-social,
			.login-copyright{
				padding:0 40px;
			}

			.login-social{
				padding-right:0;
			}

			.login-copyright{
				padding-left:0;
			}
		}
	}
}

@media (max-width: 1023px) {

	.user-login-5{
		min-height:50vh;

		.mt-login-5-bsfix{
			width:100%;
		}

		.login-bg{
			min-height: 50vh;
		}

		.login-logo{
			&.login-6{
				position: relative;
				margin:0 0 40px 0;
			}
		}

		.login-container{
			min-height: 50vh;

			>.login-content{
				margin-top:60px;

				.login-form{
					margin-top: 40px;
				}

			}

			.rem-password{
				margin-bottom: 1em;
			}

			>.login-footer{
				position:relative;
				margin-top:40px;
				padding-bottom: 0;

				.login-social{

					li{
						margin-right:0.5em;
					}
				}
			}
		}

		.alert{
			margin-top:-20px;
		}

	}
} 

@media (max-width: 640px) {

	.user-login-5{

		.login-container{
		
			>.login-content{

				.text-right{
					text-align: left;
				}
			}
		}
	}
}