<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
  <head>
        <meta charset="utf-8" />
        <title>ORBELog | Acesso Negado</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #2 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/chosen/chosen.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/chosen/chosen.bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/bootstrap-tour/css/bootstrap-tour.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/bootstrap-tour/css/bootstrap-tour-standalone.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/layout.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/default.min.css}" rel="stylesheet" type="text/css" id="style_color"/>
        <link th:href="@{/css/custom.min.css}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
        <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/plugins/morris/morris.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
        <link th:href="@{/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    </head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
    	
    	<!-- ADICIONANDO CABECALHO DO OVERLAY -->
		<div th:replace="fragments/cabecalho :: cabecalho"></div>

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

		<!-- ADICIONANDO MENU LATERAL DO OVERLAY -->
		<div th:replace="fragments/menu-lateral :: menu-lateral"></div>
		
             <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="col-md-12">
                        <h1 class="page-title">&nbsp; Seu perfil não possui permissão para ver a página solicitada!</h1>
                    </div>
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="javascript:window.history.go(-1)" style="margin-right:10px;" class="btn green uppercase">Retornar</a>
                            </div>
                        </div>
                    </div>
                    <footer class="page-footer">
                        <div class="page-footer-inner pull-right">Powered by ORBE &reg;</div>
                    </footer>
                </div>
            </div>
		</div>
        <script th:src="@{/plugins/respond.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/excanvas.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/ie8.fix.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/jquery-easing/jquery.easing.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/bootstrap-tour/js/bootstrap-tour.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/bootstrap-tour/js/bootstrap-tour-standalone.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/js.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/app.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/layout.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/highcharts/js/highcharts.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/highcharts/js/highcharts-3d.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/highcharts/js/highcharts-more.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/chosen/chosen.jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/morris/morris.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/morris/raphael-min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/counterup/jquery.waypoints.min.js}" type="text/javascript"></script>
        <script th:src="@{/plugins/counterup/jquery.counterup.min.js}" type="text/javascript"></script>
    </body>

</html>