/* here you can put your own css to customize and override the theme */

.theme-panel{
	display:none !important;
}

.select2-dropdown{z-index:9999 !important;}

table.dataTable thead.nowrap th,
table.dataTable tbody.nowrap td{
	white-space: nowrap !important;	
}


table.dataTable.nowrap th, 
table.dataTable.nowrap td,
table.dataTable th,
table.dataTable td, 
{
    white-space: nowrap !important;
}

fieldset legend{ font-family: "Open Sans",sans-serif !important; }


table.datatable th, 
table.datatable td,
.table th,
.table td,
label,
.portlet-title .caption-subject,
.page-breadcrumb,
.page-breadcrumb a,
h1,
.form-control-static,
.form-control,
button,
.select2-results li,
.select2-selection__placeholder,
.select2-selection__rendered,
fieldset legend,
.alert,
.portlet-note,
.chosen-choices .search-field input,
.chosen-choices .search-choice,
.form-wizard h3,
.form-wizard h4,
.form-wizard .btn,
.form-wizard .steps li a
{
	text-transform:uppercase !important;
	
}

.form-wizard .steps li a .desc{font-size:14px !important;}

.page-container-bg-solid .page-content{
	background-color:#FFF;
}

.logo-closed{display:none;}
.page-sidebar-closed .logo-closed{display:inline;}

.dashboard-stat2 {box-shadow:1px 1px 10px #ddd; }

.portlet-shadow{border:none; box-shadow:1px 1px 10px #ddd;}
.page-header.navbar .page-actions{margin-top:14px;}

.page-title > i{color:#ddd;}

.page-container-bg-solid .page-sidebar .page-sidebar-menu > li.active > a > .selected, 
.page-container-bg-solid .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .selected
{
	border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.cd-timeline-navigation a.inactive{background-color:#DDD !important; border-color:#D5D5D5 !important;}


.dropdown-notification{display:none !important;}

.progress-acomp{overflow:visible !important; border-radius:50%;}
.progress-acomp .progress-bar-info{position:relative; border-radius:50%;}
.progress-acomp .info{position:absolute; bottom:30px; right:-15px; text-align:center; color:#555;}


.cursor-pointer{cursor:pointer;}

input[class~="form-control"].required, 
.selec2me-required {
	border:solid 1px #FAA !important; 
	color:#333 !important;
	.select2-container--bootstrap,
	.select2-selection {
		border:none !important;
	}
}

label{padding-right:0 !important;}

label.has-error, 
input.has-error{color: #333 !important;}
input.has-error,
.chosen-single.has-error {background-color: #FEFDD2 !important; border:solid 1px #D6D6D6 !important; }

.navbar-fixed-top{z-index:999 !important;}

.alert-danger {
	background:#FAE9A3 !important; 
	border: solid 1px #D9BF52 !important; 
	color: #333333 !important;
	max-width:550px;
	position:relative;
	margin:0 auto 20px;
	font-size:12px;
	text-align:center;
}

.form-group-top-pad{padding-top:35px;}

.dataTables_wrapper .btn-actions{
	padding-left:20px !important;

	button{
		padding: 4px 12px !important;
	}
}

.page-sidebar-closed {
	.page-sidebar{
		position:fixed !important;
		z-index: 9 !important;
	}
}

.page-sidebar{
	position:fixed !important;
	z-index: 9 !important;
}

.btn.btn-no-border{ border-width:0px; }

.portlet-title {
	.actions{
		.btn-icon-only{
			&:hover, 
			&:focus{
				background:none;
			}
		}
	}
	.portlet-note{
		padding: 10px 0;
		color:#888888;
		font-style: italic;
	}
}

.form-body{
	label{
		span.required{
			color:#333;
		}
		white-space:nowrap !important;
	}
}

h1.page-title{
	margin-bottom:10px !important;
}

.page-breadcrumb{
	padding:0 5px 0 19px !important;
}

.input-icon{
	.fa-required{
		font-size:18px;
		font-style: normal;
	}
}


 .chosen-responsive .chosen-container {
		width:100%!important;
	}

.portlet-title{
	.actions{
		.btn-circle{border:none;}
		.btn-circle:hover{box-shadow:none;}
	}
}


div.cartao-pagamento {
	.popover{
		width:300px;
	}
	.popover-title{
		line-height:130%;
	}
}


#gaugePrincipal{
    -webkit-transition: width 1s !important; 
    transition: width 1s !important;
}